<template>
  <div class="utbildning-wrapper">
    <BaseCourseIntro
      v-if="content"
      :category="content.CategoryName"
      :title="content.CourseName"
      :image="content.ImageUrl"
      :shortDescription="content.CourseDescriptionShort"
    />
    <div class="container event-container">
      <h4 v-if="Object.keys(currentEvents).length > 0 && content" class="font-weight-bold">
        {{ content.CourseName }} - kommande kurstillfällen
      </h4>
      <div v-else-if="content">
        <h4 class="font-weight-bold">
          {{ content.CourseName }} - Intresseanmälan
        </h4>
        <p><strong>För intresseanmälan: </strong>Skicka ett e-brev till <a :href="'mailto:academy@tucsweden.se?subject=Intresseanmälan - '+content.CourseName">academy@tucsweden.se</a>, och beskriv era utbildningsbehov och önskemål.</p>
      </div>

      <ul class="event-wrapper">
        <li v-for="Event in currentEvents" :key="Event.EventId">
          <div v-if="Event.ParticipantNumberLeft > 5 && Event.StartDate.substring(0, 4) !== '2500' && Event.StartDate.substring(0, 4) !== '1853' " class="status open">
            Många platser kvar
          </div>
          <div v-if="Event.ParticipantNumberLeft < 6 && Event.ParticipantNumberLeft > 0 && Event.StartDate.substring(0, 4) !== '2500' && Event.StartDate.substring(0, 4) !== '1853'" class="status few">
            Fåtal platser kvar
          </div>
          <div v-if="Event.ParticipantNumberLeft < 1 && Event.StartDate.substring(0, 4) !== '2500' && Event.StartDate.substring(0, 4) !== '1853'" class="status none">
            Fullbokad
          </div>

          <h4>{{ Event.City }}</h4>
          <template v-if="Event.StartDate.substring(0, 4) === '2500' || Event.StartDate.substring(0, 4) === '1853' ">
            <h3>Valfri kursstart</h3>
          </template>
          <template v-else-if="Event.EventDates[0]">
            <h5>Kursdagar</h5>
            <p v-for="Eventdate in Event.EventDates" :key="Eventdate.EventDateId" class="eventdate">
              → {{ Eventdate.StartDate.substring(0, 10) }} kl.  {{ Eventdate.StartDate.substring(11, 16) }} – {{ Eventdate.EndDate.substring(11, 16) }}
            </p>
          </template>
          <template v-else>
            <h3 v-if="Event.StartDate.substring(0, 10) == Event.EndDate.substring(0, 10)">
              {{ Event.StartDate.substring(0, 10) }}
            </h3>
            <h3 v-else>
              {{ Event.StartDate.substring(0, 10) }} – {{ Event.EndDate.substring(0, 10) }}
            </h3>
          </template>

          <p v-if="Event.StartDate.substring(0, 4) !== '2500' && Event.StartDate.substring(0, 4) !== '1853'">
            Totalt {{ content.Days }} <span v-if="content.Days == '1'">dag</span><span v-else>dagar</span>
          </p>

          <div class="application">
            <div v-if="Event.PriceNames[0]" class="pricing">
              <p v-for="Price in Event.PriceNames" :key="Price.PriceNameId" class="price">
                <span>{{ Price.PriceNameDescription }}</span>
                {{ new Intl.NumberFormat('sv-SE').format(Price.Price) }} kr
                <span class="taxinfo">ex. moms</span>
              </p>
            </div>

            <a v-if="Event.ParticipantNumberLeft < 1 && Event.StartDate.substring(0, 4) !== '2500' && Event.StartDate.substring(0, 4) !== '1853'" :href="Event.BookingFormUrl" class="applicationlink btn btn-primary disabeled" target="_blank">Anmälan</a>
            <a v-else :href="Event.BookingFormUrl" class="applicationlink btn btn-primary" target="_blank">Anmälan</a>
          </div>
          <small v-if="Event.StartDate.substring(0, 4) !== '2500' && Event.StartDate.substring(0, 4) !== '1853'">Sista dag för anmälan: {{ Event.LastApplicationDate.substring(0, 10) }}</small>
        </li>
      </ul>
      <!-- <BaseShare :url="content.permalink" :title="content.post_title" class="justify-content-end" /> -->
    </div>
    <div class="container">
      <div v-if="content" class="content-inner">
        <h2>{{ content.CourseName }}</h2>
        <div v-html="content.CourseDescription" />
      </div>
    </div>
    <!-- <ThePagebuilder v-if="content.custom_fields.pagebuilder" :blocks="content.custom_fields.pagebuilder" :content="content" /> -->
    <!-- <BaseApply
      v-if="content.custom_fields.apply"
      :title="content.custom_fields.apply_options.title"
      :content="content.custom_fields.apply_options.content"
      :formId="content.custom_fields.apply_options.form"
      :formSupply="content.post_title"
      :active="content.custom_fields.apply"
    /> -->
    <!-- <BaseArchiveCourse
      v-if="content.custom_fields.course_related.related_courses.length > 0"
      :title="content.custom_fields.course_related.title"
      :courses="(content.custom_fields.course_related.related_courses.length > 0)? content.custom_fields.course_related.related_courses : false"
      :button-options="{
        type: content.custom_fields.course_related.link_or_button,
        link: content.custom_fields.course_related.link,
        buttonsLabel: content.custom_fields.course_related.label,
        buttons: content.custom_fields.course_related.buttons
      }"
      alignment="center"
    /> -->

    <!-- <BaseArchivePost
      v-if="content.custom_fields.post_related.related_posts.length"
      :title="content.custom_fields.post_related.title"
      :posts="(content.custom_fields.post_related.related_posts.length > 0)? content.custom_fields.post_related.related_posts : false"
      :button-options="{
        type: content.custom_fields.post_related.link_or_button,
        link: content.custom_fields.post_related.link,
        buttonsLabel: content.custom_fields.post_related.label,
        buttons: content.custom_fields.post_related.buttons
      }"
      alignment="center"
    /> -->
    <!-- <BaseNewsletter v-if="false" /> -->
  </div>
</template>
<script>
export default {
  components: {
    BaseCourseIntro: () => import('~/components/BaseCourseIntro-edu.vue')
    // ThePagebuilder: () => import('~/components/ThePagebuilder.vue'),
    // BaseApply: () => import('~/components/BaseApply.vue'),
    // cBaseArchiveCourse: () => import('~/components/BaseArchiveCourse.vue'),
    // BaseArchivePost: () => import('~/components/BaseArchivePost.vue'),
    // BaseShare: () => import('~/components/BaseShare.vue')
  },
  head () {
    let catTitle = 'TUC Academy'
    if (this.content) {
      catTitle = this.content.CourseName + ' - TUC Academy'
    }
    return {
      title: catTitle
    }
  },
  computed: {
    /*     useDefaultTitle () {
      return !this.content.custom_fields.intro.use_title
    },
    primaryCategory () {
      const cats = this.content.post_taxs
      if (cats.programme_course_category && cats.programme_course_category[0]) {
        return cats.programme_course_category[0].name
      } else {
        return false
      }
    }, */
    currentEvents () {
      let res = {}
      // console.log(this.$store.state.bearerToken.events.events)
      if (this.content && this.content.CourseTemplateId && this.$store.state.bearerToken.events.events) {
        const currentTemplate = this.content.CourseTemplateId
        res = this.$store.state.bearerToken.events.events.filter(
          (item) => {
            return item.CourseTemplateId === parseInt(currentTemplate)
          }
        )
      }
      return res
    },
    content () {
      const parts = this.$route.path.split('-')
      const lastItem = parts.pop()
      const templateid = lastItem.replace('/', '')
      // console.log(templateid)

      let result = {}
      // console.log(this.$store.state.bearerToken.coursetemplates.templates)
      if (this.$store.state.bearerToken.coursetemplates.templates) {
        result = this.$store.state.bearerToken.coursetemplates.templates.filter(
          (item) => {
          // console.log(item)
            return item.CourseTemplateId === parseInt(templateid)
          }
        )
      }

      // console.log(result)
      return result[0]
      // return this.$store.state.pages[this.$route.path]
    }
  },
  /*   validate ({ route, params, query, store, $content }) {
    const page = store.state.pages[route.path]

    if (page) {
      return true
    } else {
      return false
    }
  }, */
  mounted () {
    /*     this.$store.dispatch('bearerToken/getEvents')
    this.$store.dispatch('bearerToken/getCourseTemplates')
    this.$store.dispatch('bearerToken/getCategories') */
  }
}
</script>
<style lang="scss">
  .utbildning-wrapper {
    .event-container {
      padding: 2.5rem 8rem;
      background-image: linear-gradient(289deg,#12499b 53%,#934d98);
      color: #fff;
      @media screen and (max-width: 1080px) {
        padding: 2.5rem 4rem;
      }
      @media screen and (max-width: 600px) {
        padding: 1.5rem 1.5rem;
      }
            @media screen and (max-width: 420px) {
        padding: 1.5rem 1rem;
      }
      a {
        color: white;
        &:hover {
          color: rgba(255,255,255,0.8) !important;
        }
      }
      .status {
        font-size: 0.75rem;
        line-height: 1;
        float: right;
        position: relative;
        top: -0.75rem;
        right: -0.75rem;
        color: #666666;
        &:before {
          content: "";
          display: inline-block;
          height: 1rem;
          width: 1rem;
          border-radius: 50%;
          background: blue;
          border: 1px solid white;
          vertical-align: middle;
          position: relative;
          top: -2px;
        }
        &.open {
          &:before {
            background: forestgreen;
          }
        }
        &.few {
          &:before {
            background: orange;
          }
        }
         &.none {
          &:before {
            background:orangered;
          }
        }
      }
      ul.event-wrapper {
        margin: 2rem 0 0 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
          box-shadow: 0 3px 9px -2px rgba(29,29,29,0.25);
          width: 350px;
          margin-right: 2rem;
          max-width: 350px;
          display: block;
          background: rgba(#ffffff,1);
          margin-bottom: 2rem;
          border-radius: 1rem;
          padding: 2rem 2rem 1rem;
          color: #000000;
          small {
            display: block;
            text-align: right;
            margin-top: 0.875rem;
            color: #666666;
          }
          h4 {
            font-size: 1.25rem;
            margin: 0 0 0.5rem;
            font-weight: 700;
            letter-spacing: 0;
          }
          .pricing {

          }
          h5 {
            font-size: 0.75rem;
            font-weight: 700;
            margin: 0;
            letter-spacing: 0;
            color: $black;
          }
          p.eventdate {
            font-size: 0.75rem;
            margin: 0;
          }
          p.price {
            font-size: 1rem;
            margin: 0;
            color:#12499b;
            font-weight: 700;
            border: 1px solid lighten(#12499b,20%);
            display: inline-block;
            padding: 0.25rem 0.625rem;
            border-radius: 4px;
            margin-right: 0.5rem;
            text-align: left;
            span {
              color: #666666;
              font-size: 0.75rem;
              font-weight: 400;
              display: block;
              line-height: 1;
              &.taxinfo {
                color: #666666;
                margin-top: -0.25rem;
              }
            }
          }
          h3 {
            font-size: 1.125rem;
            margin: 0;
          }
          p {
            margin: 0.5em 0 0.5em;
            font-size: 0.875rem;
          }
          dl {
            margin: 0;
          }
          .application {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 0.75rem;
            a.applicationlink {
              display: block;
              font-size: 1rem;
              font-weight: 400;
              letter-spacing: 0;
              &.disabeled {
                opacity: 0.7;
                box-shadow: none;
                pointer-events: none;
              }
            }
          }
        }
      }
    }
    .container {
      .content-inner {
        background-color: $light-grey-25;
        padding: 3.5vmin 8vmin;
      }
    }

  }
</style>
