<template>
  <div class="page-wrapper">
    <BaseHero
      v-if="hero"
      :title="(hero.text_in_image)? introTitle: false"
      :content="(hero.text_in_image)? introContent : false"
      :image="(!hero.auto_hero && hero.image)? hero.image.sizes : content.featured_image"
      :iframe="(!hero.auto_hero && hero.video)? hero.video : false"
      :buttonsLabel="(hero.text_in_image)? hero.label : false"
      :buttons="(hero.text_in_image)? hero.buttons : false"
      :search="this.$route.path === '/'"
      :overlap="!hero.text_in_image"
    />

    <BaseContent
      v-if="hero && !hero.text_in_image"
      :content="belowHeroContent"
      :button-options="{
        type: 'button',
        link: false,
        buttonsLabel: (!hero.text_in_image)? hero.label : false,
        buttons: (!hero.text_in_image)? hero.buttons : false,
      }"
      class="hero-content-wrapper"
    />

    <ThePagebuilder v-if="content && content.custom_fields.pagebuilder" :blocks="content.custom_fields.pagebuilder" />
  </div>
</template>
<script>
export default {
  validate ({ route, params, query, store, $content, redirect }) {
    const page = store.state.pages[route.path]

    let category = null
    if (route.params.category) {
      category = route.params.category
    }

    let pageCategoryPrimary = null

    if (category && page && page.post_taxs) {
      if (page.post_taxs.category && page.post_taxs.category[0]) {
        pageCategoryPrimary = page.post_taxs.category[0]
      }
    }

    if (pageCategoryPrimary && category && pageCategoryPrimary.slug !== category) {
      redirect(route.path.replace(category, pageCategoryPrimary.slug))
    }

    if (page) {
      return true
    } else {
      return false
    }
  },
  components: {
    BaseHero: () => import('~/components/BaseHero.vue'),
    BaseContent: () => import('~/components/BaseContent.vue'),
    ThePagebuilder: () => import('~/components/ThePagebuilder.vue')
  },
  computed: {
    introTitle () {
      const hero = this.hero

      return (!hero.auto_hero && hero.title !== '') ? hero.title : this.content.post_title
    },

    introContent () {
      const hero = this.hero

      return (!hero.auto_hero && hero.excerpt !== '') ? hero.excerpt : this.content.post_excerpt
    },

    belowHeroContent () {
      return '<h1>' + this.introTitle + '</h1>' + '<div>' + this.introContent + '</div>'
    },

    hero () {
      let useHero = this.content.custom_fields.use_hero

      if (this.content.custom_fields.use_hero === undefined) {
        useHero = true
      }

      if (useHero) {
        return this.content.custom_fields.hero || false
      } else {
        return false
      }
    },
    content () {
      return this.$store.state.pages[this.$route.path] || false
    }
  }
}
</script>
<style lang="scss">
  .page-wrapper {

    .hero-content-wrapper {

      &.content-wrapper {
        margin-top: 12vmin;
        position: relative;
        .content-inner {
          text-align: center;
          background-color: #fff;
          padding: 3.5rem;
          max-width: none;

          @media (max-width: 767.98px) {
            padding: 1rem;
          }

          p {
            max-width: 920px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .buttons-wrapper.button {
          margin-top: 0rem;
          margin-bottom: 4.5rem;
          display: flex;
          justify-content: center;
        }
      }
    }

  }
</style>
