<template>
  <div class="utbildningar-category-wrapper text-center my-5">
    Hur hamna du här?
  </div>
</template>
<script>
export default {
  middleware ({ params, redirect }) {
    return redirect('/artiklar/?category=' + params.category)
  }
}
</script>
<style lang="scss">
  .utbildningar-category-wrapper {

  }
</style>
