$base-size: calc(calc(1vw * 0.31) + 10.2px);
//Check this link: https://www.desmos.com/calculator/a7gvua1ceb

//https://type-scale.com/
// Major third
$font-size-desktop: (
  3.052em,
  2.441em,
  1.953em,
  1.563em,
  1.25em,
  1em,
  0.8em,
  1.25em,
  1em,
  1em
);

// Major third
$font-size-tablet: (
  3.052em,
  2.441em,
  1.953em,
  1.563em,
  1.25em,
  1em,
  0.8em,
  1.25em,
  1em,
  1em
);

// minor second
$font-size-mobile: (
  1.802em,
  1.602em,
  1.424em,
  1.266em,
  1.125em,
  1em,
  1.2em,
  1.15em,
  1.1em,
  1em
);

/*
  Import typekit and/or google fonts in nuxt.config.js
*/

html {
  font-size: $base-size;
}

p {
  margin: 0;
}

a:not(.btn) {
  color: $secondary;
  transition: 0.4s ease-in-out;

  &.readmore-link {
    color: $primary;
  }

  svg {
    color: $secondary;
    transition: 0.4s ease-in-out;
  }

  &:hover {
    color: $primary !important;

    svg {
      color: $primary;
    }
  }
}

.content {
  p {
    margin-bottom: 2rem;
    color: $text-color;
  }

  ul {
    color: $text-color; 
  }

  a:not(.btn) {
    color: $primary;
    text-decoration: underline;
    transition: 0.4s ease-in-out;

    &:hover {
      color: $secondary;
    }
  }
}

.underline {
  text-decoration: underline;
}

h1,
.h1 {
  // _Heading-Heading-1
  font-family: montserrat, sans-serif;
  font-size: nth($font-size-desktop, 1);
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.42px;
  margin: 2.5rem 0 1.5rem 0;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 1);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 1);
  }
}

h2,
.h2,
.lead {
  // _Heading-Heading-2
  font-family: montserrat, sans-serif;
  font-size: nth($font-size-desktop, 2);
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.2px;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 2);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 2);
  }
}

h3,
.h3 {
  // _Heading-Heading-3
  font-family: montserrat, sans-serif;
  font-size: nth($font-size-desktop, 3);
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 1.19px;
  margin-top: 0.7rem;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 3);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 3);
  }
}

h4,
.h4,
.title,
.hero-content-wrapper p {
  // _Title-Title-1
  font-family: montserrat, sans-serif;
  font-size: nth($font-size-desktop, 4);
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 1.1px;
  margin-top: 1rem;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 4);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 4);
  }
}

h5,
.h5,
.sub-title,
.nav-link {
  // _Sub-title-Sub-title-2
  font-family: montserrat, sans-serif;
  font-size: nth($font-size-desktop, 5);
  font-weight: 400;
  text-transform: none;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  color: $text-color;

  > p {
    font-size: inherit;
  }

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 5);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 5);
  }
}

body,
.p {
  // _Paragraph-Paragraph

  font-family: lato, sans-serif;
  font-size: nth($font-size-desktop, 6);
  line-height: 1.7em;
  //letter-spacing: 0.8px;
  color: #000;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 6);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 6);
  }
}

p.small,
.description,
label {
  // _Description-Description
  // small button size
  font-family: lato, sans-serif;
  font-size: nth($font-size-desktop, 7);
  letter-spacing: 0.6px;
  line-height: normal;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 7);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 7);
  }
}

label {
  margin-bottom: 0;
}

button,
.btn {
  // _Button-Button-1
  // large button size
  font-family: montserrat, sans-serif;
  font-size: nth($font-size-desktop, 8);
  font-weight: bold;
  letter-spacing: 0.85px;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 8);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 8);
  }
}

button,
.btn-sm,
.btn-font {
  // _Button-Button-2
  // medium button size
  font-family: montserrat, sans-serif;
  font-size: nth($font-size-desktop, 9);
  font-weight: bold;
  letter-spacing: 0.68px;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 9);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 9);
  }
}

input,
select,
textarea {
  // _Input-Input-1
  font-family: lato, sans-serif;
  font-size: nth($font-size-desktop, 10);
  letter-spacing: 0.64px;
  margin-bottom: 0.5rem;

  border: $grey;
  border-radius: 0;

  @media (max-width: 991.98px) {
    font-size: nth($font-size-tablet, 10);
  }

  @media (max-width: 767.98px) {
    font-size: nth($font-size-mobile, 10);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem 0;
  line-height: 140%;
}

p {
  line-height: 150%;
}
