$primary: #12499b;
$secondary: #6c7175;
$tetriary: #934D98; //00AEEA

$success: #21e496;
$warning: #ffba3f;
$error: #ff3867;

$primary-25: transparentize($primary, 0.75);
$primary-50: transparentize($primary, 0.5);
$primary-75: transparentize($primary, 0.25);

$grey: #a0a9ba;
$grey-25: transparentize($grey, 0.75);
$grey-50: transparentize($grey, 0.5);
$grey-75: transparentize($grey, 0.25);

$light-grey: #e1e4eb;
$light-grey-25: transparentize($light-grey, 0.75);
$light-grey-50: transparentize($light-grey, 0.5);
$light-grey-75: transparentize($light-grey, 0.25);

$black: #010b19;
$black-25: transparentize($black, 0.75);
$black-50: transparentize($black, 0.5);
$black-75: transparentize($black, 0.25);

$text-color: #878787;

$dark: #1d1d1d;
$white: #fff;

/* Gradients */

$primary-gradient: linear-gradient(289deg, $primary 53%, $tetriary 100%);

/* Classes */
.bg-light-grey-25 {
  background-color: $light-grey-25;
}

.bg-black-75 {
  background-color: $black-75;
}


.wayke-ecom {
  .page-section {
    button {
      .button-section {

      }
    }
  }
}