<template>
  <div class="page-wrapper default-wrapper">
    <BaseHero
      v-if="content"
      :image="content.ImageUrl"
    />

    <BaseContent
      v-if="content"
      :content="content.CategoryNotes"
      :title="content.CategoryName"
      class="hero-content-wrapper"
    />
    <div class="container">
      <BaseCourseArchive :include-course="true" :include-programme="false" :category="currentCategoryId" />
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseHero: () => import('~/components/BaseHero-edu.vue'),
    BaseContent: () => import('~/components/BaseContent-edu.vue'),
    BaseCourseArchive: () => import('~/components/BaseCourseArchive-edu.vue')

  },
  head () {
    let catTitle = 'TUC Academy'
    if (this.content) {
      catTitle = 'Våra kurser inom ' + this.content.CategoryName + ' - TUC Academy'
    }
    return {
      title: catTitle
    }
  },
  computed: {
    currentCategoryId () {
      const parts = this.$route.path.split('-')
      const lastItem = parts.pop()
      const categoryid = lastItem.replace('/', '')
      return categoryid
    },
    content () {
      let result = {}

      if (this.$store.state.bearerToken.categories.categories) {
        result = this.$store.state.bearerToken.categories.categories.filter(
          (item) => {
          // console.log(item)
            return item.CategoryId === parseInt(this.currentCategoryId)
          }
        )
      }

      // console.log(result)
      return result[0]
      // return this.$store.state.pages[this.$route.path]
    }
  },
  mounted () {
    /*     this.$store.dispatch('bearerToken/getEvents')
    this.$store.dispatch('bearerToken/getCourseTemplates')
    this.$store.dispatch('bearerToken/getCategories') */
  }
}
</script>
