<template>
  <div
    ref="wrapper"
    v-lazy:background-image="image ? image[getImageSize('max')] : false"
    :class="[
      'hero-wrapper background-image',
      { 'next-block-overlap': overlap },
      { overlay: !overlap && !iframe },
    ]"
  >
    <div v-if="iframe" v-html="iframe" class="iframe" />
    <div v-if="title || content" class="hero-inner">
      <div class="container text-center">
        <div class="animation-overlay">
          <h1 ref="title" class="h2">
            {{ title }}
          </h1>
        </div>
        <div class="animation-overlay">
          <div ref="content" v-if="!search" v-html="content" class="content" />
          <BaseSearch v-if="search" />
        </div>
        <div class="animation-overlay">
          <div ref="buttons" class="animation-overlay-inner">
            <BaseButtons
              v-if="buttons"
              :label="buttonsLabel"
              :buttons="addVariantToButtons(buttons)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseButtons: () => import('~/components/BaseButtons.vue'),
    BaseSearch: () => import('~/components/BaseSearch.vue')
  },
  props: {
    title: {
      type: [String, Boolean],
      default: false
    },
    content: {
      type: [String, Boolean],
      default: false
    },
    iframe: {
      type: [String, Boolean],
      default: false
    },
    image: {
      type: Object
    },
    buttonsLabel: {
      type: [String, Boolean],
      default: false
    },
    buttons: {
      type: [Array, Boolean],
      default: false
    },
    search: {
      type: Boolean,
      default: false
    },
    overlap: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.hero-wrapper {
  min-height: 500px;
  height: 70vh;
  max-height: 2000px;
  position: relative;
  background-position: center center;
  background-size: cover;

  @media (max-width: 575.98px) {
    max-height: 0px;
    height: auto;
    min-height: 350px;
  }

  &.next-block-overlap {
    margin-bottom: -24vmin;
  }

  &.overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    background-color: #0e0c0e;
    opacity: 0.3;
  }

  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .hero-inner {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #fff;

    @media (max-width: 767.98px) {
      top: 60%;
    }

    .content {
      max-width: 805px;
      margin: 0 auto;

      p {
        color: inherit;
      }
    }

    .buttons-wrapper {
      margin-top: 4vmin;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      div {
        width: 100%;
        margin-bottom: 1vmin;
      }

      a {
      }
      // @media (max-width: 767.98px) {
      //   .btn {
      //     display: flex;
      //     margin-bottom: 1.5vmin;
      //     width: auto;
      //   }
      // }
    }

    /* animation overlay overflow hidden */
    .animation-overlay {
      position: relative;
      //overflow: hidden;
      height: auto;
      padding: 10px 0;

      .h2 {
        margin-bottom: 0;
      }
    }
  }
}
</style>
