<template>
  <div class="maps-wrapper">
    <iframe
      :src="'https://maps.google.com/maps?hl=en&q=' + long + ',' + lat + '&t=&z='+zoom+'&ie=UTF8&iwloc=B&output=embed'"
      width="100%"
      height="600"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    />
  </div>
</template>
<script>
export default {
  props: {
    long: {
      type: String
    },
    lat: {
      type: String
    },
    zoom: {
      type: String
    }
  }
}
</script>
<style lang="scss">
  .maps-wrapper {

  }
</style>
