<template>
  <div class="usp-wrapper">
    <div v-if="icon" class="icon-wrapper">
      <svg-icon :name="icon" :alt="title" />
    </div>

    <h3>{{ title }} </h3>

    <div v-html="content" class="content" />

    <BaseButtons
      :link="url"
      type="link"
    />
  </div>
</template>
<script>
export default {
  components: {
    BaseButtons: () => import('~/components/BaseButtons.vue')
  },
  props: {
    title: {
      type: String
    },
    icon: {
      type: [String, Boolean],
      default: false
    },
    content: {
      type: String
    },
    url: {
      type: [Object, Boolean],
      default: false
    }
  }
}
</script>
<style lang="scss">
  .usp-wrapper {
    .icon-wrapper {
      margin-bottom: 1rem;
      border-radius: 50%;
      background-image: $primary-gradient;
      width: 80px;
      height: 80px;
      position: relative;

      img,svg {
        fill: #fff;
        width: 50%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      a {
        svg {

        }
      }
    }
  }
</style>
