<template>
  <div :class="['buttons-wrapper', { 'text-left': type === 'link' }]">
    <a
      v-if="type === 'link' && link && link.url"
      :is="(link.url && link.url.startsWith('http')) ? 'a' : 'nuxt-link'"
      v-bind="[
        { target: link.target },
        formatUrlBind(link.url),
      ]"
      class="h5 font-weight-bold"
    >
      {{ link.title }}
      <svg-icon name="arrow-up" />
    </a>

    <div v-if="type === 'button' && label && label !== ''">
      <label class="p">{{ label }}</label>
    </div>

    <b-button
      v-for="(button, i) in buttonsFormated"
      :key="i"
      v-bind="[
        { variant: button.variant },
        { target: button.target },
        formatUrlBind(button.url),
      ]"
      v-html="button.title"
      size="sm"
      class="mb-2"
    />
  </div>
</template>
<script>
export default {
  props: {
    type: {
      type: String,
      default: 'button'
    },
    link: {
      type: [Object, Boolean],
      default: false
    },
    label: {
      type: String
    },
    buttons: {
      type: [Object, Array, Boolean],
      default: false
    }
  },
  computed: {
    buttonsFormated () {
      if (this.type === 'button' && this.buttons) {
        if (Array.isArray(this.buttons)) {
          return this.buttons
        } else {
          return [this.buttons]
        }
      } else {
        return []
      }
    }
  }
}
</script>
<style lang="scss">
.buttons-wrapper {
  label {
    color: inherit;
    margin-bottom: 0.25rem;
  }

  .btn {
    margin-right: 1vmin;
  }

  .h5 {
    color: $primary;

    svg {
      margin-left: 0.5em;
      fill: $primary;
      width: 1em;
      height: 1em;
      transform: rotate(90deg) translateX(-0.1em);
    }
  }
}
</style>
