<template>
  <div v-if="employee" class="cta-employee-wrapper">
    <div class="container">
      <div class="cta-employee-inner">
        <div class="row no-gutters">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-sm-4">
                <div
                  v-lazy:background-image="employee.featured_image ? employee.featured_image[getImageSize('tablet')] : false"
                  class="employee-image"
                />
              </div>
              <div class="col-12 col-sm-8 info-wrapper">
                <div class="upper-info">
                  <h4 class="font-weight-bold mb-0">
                    {{ title }}
                  </h4>
                  <p>
                    {{ subTitle }}
                  </p>
                  <p v-html="text" v-if="text !== '' ">
                    {{ text }}
                  </p>
                  <p v-html="employee.custom_fields.text" v-else>
                    {{ employee.custom_fields.text }}
                  </p>
                </div>
                <div class="lower-info">
                  <h5 class="sub-title font-weight-bold mb-0">
                    {{ employee.post_title }}
                  </h5>
                  <p v-html="employee.custom_fields.title" class="mb-3 job-title" />

                  <a :href="'tel:' + employee.custom_fields.phone">{{ employee.custom_fields.phone }}</a><br>
                  <a :href="'mailto:' + employee.custom_fields['e-post']">{{ employee.custom_fields['e-post'] }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="icon" class="background-icon-wrapper">
          <svg-icon :name="icon" class="background-icon" />
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
export default {
  props: {
    employee: {
      type: [Boolean, Object]
    },
    icon: {
      type: [Boolean, String]
    },
    title: {
      type: String
    },
    subTitle: {
      type: String
    },
    text: {
      type: String
    }
  }
}
</script>
<style lang="scss">
.cta-employee-wrapper {
  .cta-employee-inner {
    position: relative;
    background-color: $light-grey-25;
    padding: 4rem;

    .employee-image {
      padding-top: 110%;
      margin-right: 3.8rem;
      background-position: center;
      background-size: cover;
    }

    .info-wrapper {
      position: relative;

      h4 {
        margin-bottom: 2vmin!important;
      }

      .upper-info {
        p {
          margin-bottom: 1vmin;
        }
      }
    }

    .lower-info {
      position: absolute;
      bottom: 0;
      left: 0;

      @media (max-width: 576px) {
        position: relative;
      }
    }

    .job-title {
      color: $text-color;
    }

    .background-icon-wrapper {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      min-width: 375px;
      max-width: 100%;
      overflow: hidden;
      z-index: -1;

      svg {
        position: absolute;
        right: -60%;
        top: 50%;
        transform: translateY(-50%);
        height: 160%;
        width: 160%;
        fill: $light-grey-25;
      }
    }
  }
}
</style>
