<template>
  <div class="loading-wrapper">
    <ul class="list-unstyled justify-content-around">
      <li class="dot red" />
      <li class="dot grey" />
      <li class="dot black" />
    </ul>
  </div>
</template>
<script>
export default {}
</script>
<style lang="scss">
.loading-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  .list-unstyled {
    margin: 4rem auto;
    display: flex;
    max-width: 200px;
    padding: 20px;
  }

  .dot {
    width: 30px;
    height: 30px;
    border-radius: 20px;

    &.red {
      background-color: $primary;
      animation: redDot 1s infinite;
      animation-delay: 0s;
    }

    &.grey {
      background-color: $secondary;
      animation: greyDot 1s infinite;
      animation-delay: 0.2s;
    }

    &.black {
      background-color: $tetriary;
      animation: blackDot 1s infinite;
      animation-delay: 0.3s;
    }
  }
}

@keyframes redDot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes greyDot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes blackDot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.8);
  }
}
</style>
