<template>
  <div class="course-apply-wrapper text-center">
    <div class="container">
      <h3>{{ title }}</h3>
      <div v-html="content" class="content" />

      <BaseContactform v-if="active" :id="formId" @load="fillFields" />
      <div v-else class="mt-5">
        Ansökan är inte öppen
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseContactform: () => import('~/components/BaseContactform.vue')
  },
  props: {
    title: {
      type: String
    },
    content: {
      type: String
    },
    formId: {
      type: [String, Number]
    },
    formSupply: {
      type: [String, Boolean],
      default: false
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    fillFields () {
      const supply = document.querySelector('.js-supply')
      supply.readOnly = true
      supply.value = this.formSupply
    }

  }

}
</script>
<style lang="scss">

  .course-apply-wrapper {
    background-color: $primary;
    padding: 7.9rem 0;
    color: #fff;

    .content {
      max-width: 630px;
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    .cf-wrapper {
      background-color: transparent;
      box-shadow: none;

      label {
        width: 100%;
        margin: 0;
      }

      input, textarea, select {
        width: 100%;
      }

      .js-supply{
        &:read-only {
          opacity: 0.7;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

</style>
