<template>
  <div :class="['carousel-wrapper', 'bg-' + background]">
    <div class="container">
      <b-carousel
        ref="carousel"
        :interval="8000"
        v-model="slideCurrent"
        no-animation
      >
        <b-carousel-slide
          v-for="image in images"
        >
          <div v-lazy:background-image="image ? image.sizes[getImageSize('max')] : false" class="background-image">
            <BaseAuthor v-if="image.custom_fields.author" :author="image.custom_fields.author" />
          </div>
        </b-carousel-slide>
      </b-carousel>
      <div v-if="images.length > 0" class="nav-wrapper">
        <div @click="slidePrev()" class="prev-wrapper">
          <b-button variant="light">
            <svg-icon name="arrow-down-left" />
          </b-button>
        </div>
        <ul class="slide-wrapper list-inline">
          <li
            :class="['list-inline-item', { active: slideCurrent >= slide }]"
            v-for="slide in range(0, images.length - 1)"
            @click="slideSet(slide)"
          />
        </ul>
        <div @click="slideNext()" class="next-wrapper">
          <b-button variant="light">
            <svg-icon name="arrow-down-right" />
          </b-button>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseAuthor: () => import('~/components/BaseAuthor.vue')
  },
  props: {
    background: {
      type: String
    },
    images: {
      type: Array
    }
  },
  data () {
    return {
      slideCurrent: 0
    }
  },
  methods: {
    slideSet (slide) {
      this.slideCurrent = slide
    },
    slidePrev () {
      this.$refs.carousel.prev()
    },
    slideNext () {
      this.$refs.carousel.next()
    }
  }
}
</script>
<style lang="scss">
  .carousel-wrapper {
    .carousel-item {
      transition: 0.8s ease-in-out;
      opacity: 0;
      display: block;
      //padding-top: 40%;

      .carousel-caption {
        position: static;
        padding: 0;
      }

      .background-image {
        padding-top: 40%;
        background-position: center;
        background-size: cover;

      }

      &.active {
        opacity: 1;
      }
    }

    .nav-wrapper {
      margin-top: 2rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      @media (max-width: 767.98px) {
        display: block;
      }

      .prev-wrapper svg {
        transform: rotate(45deg);
        fill: $dark;
      }

      .next-wrapper svg {
        transform: rotate(-45deg);
        fill: $dark;
      }

      @media (max-width: 767.98px) {
        .prev-wrapper {
          display: inline-block;
          width: 49%;
        }

        .next-wrapper {
          display: inline-block;
          width: 49%;
        }

        .next-wrapper .btn, .prev-wrapper .btn {
          display: block;
          width: 100%;
        }
      }

      .slide-wrapper {
        margin: 0 1rem;

        @media (max-width: 767.98px) {
          display: none;
        }

        .list-inline-item {
          border-radius: 50%;
          width: 10px;
          height: 10px;
          background-color: $black-25;

          &.active {
            background-color: $primary;
          }
        }
      }

    }
  }
</style>
