<template>
  <div class="post-wrapper">
    <nuxt-link :to="url">
      <div
        v-lazy:background-image="image ? image[getImageSize('desktop')] : false"
        :style="{
          'background-position-x':
            imagePos && imagePos.endsWith('%') ? imagePos : imagePos + '%',
        }"
        class="image-wrapper"
      />
    </nuxt-link>
    <nuxt-link :to="url">
      <h5 v-html="title" class="font-weight-bold" />
    </nuxt-link>
    <div v-if="content && content !== ''" v-html="content" class="content" />
  </div>
</template>
<script>
export default {
  props: {
    image: {
      type: [Object]
    },
    imagePos: {
      type: String
    },
    url: {
      type: String
    },
    title: {
      type: String
    },
    content: {
      type: String
    }
  }
}
</script>
<style lang="scss">
.post-wrapper {
  margin-bottom: 4rem;

  h5 {
    color: #000;
  }

  .image-wrapper {
    padding-top: 92%;
    background-size: cover;
    background-position: center;
  }
}
</style>
