<template>
  <div class="share-wrapper d-flex">
    <div v-for="media in medias" :key="media.icon" class="media-wrapper">
      <a :href="media.url" target="blank">
        <svg-icon :name="media.icon" />
      </a>
    </div>
    <div class="media-wrapper link">
      <div @click="copyLink(fullUrl)" v-b-tooltip.hover :title="linkTooltip">
        <svg-icon name="link" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    url: {
      type: String
    },
    title: {
      type: String
    }
  },
  data () {
    return {
      linkTooltip: 'Kopiera länk'
    }
  },
  computed: {
    medias () {
      const res = []

      res.push({
        icon: 'facebook',
        url: 'https://www.facebook.com/sharer/sharer.php?u=' + this.fullUrl
      })

      /* res.push({
        icon: 'twitter',
        url: 'https://twitter.com/intent/tweet?text=' + this.title + ' ' + this.fullUrl
      }) */

      res.push({
        icon: 'linkedin',
        url: 'https://www.linkedin.com/shareArticle?mini=true&url=' + this.fullUrl + '&title=' + this.title
      })

      res.push({
        icon: 'envelope',
        url: 'mailto:?subject=' + this.title + '&body=' + this.fullUrl
      })

      return res
    },
    fullUrl () {
      const base = this.$store.state.meta.baseUrl
      return base + this.url
    }
  },
  methods: {
    copyLink (url) {
      this.linkTooltip = 'Länk kopierad!'

      const el = document.createElement('textarea')
      el.value = url
      document.body.appendChild(el)
      el.select()
      document.execCommand('copy')
      document.body.removeChild(el)

      setTimeout(() => {
        this.linkTooltip = 'Kopiera länk'
      }, 3000)
    }
  }
}
</script>
<style lang='scss'>
  .share-wrapper{
    .media-wrapper {
      &:hover {
        cursor: pointer;

        svg {
          fill: $primary;
          opacity: 0.7;
        }
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.75rem;
      }
    }
  }
</style>
