<template>
  <div class="course-archive-wrapper">
    <!--    <div class="categories-wrapper">
      <ul v-if="!loading" class="list-inline">
        <li
          @click="toggleFilterItem('programme_course_category', category.value)"
          :key="category.slug"
          v-for="category in categories"
          :class="[
            'list-inline-item',
            {
              active: filterActive.programme_course_category.includes(
                category.value
              ),
            },
          ]"
        >
          <svg-icon
            v-if="categoryIcons[category.value]"
            :name="categoryIcons[category.value]"
          />
          <span v-html="category.name" />
        </li>
      </ul>
    </div> -->

    <div v-if="!loading" class="row">
      <div class="col-12">
        <div class="items-wrapper">
          <div class="row">
            <div v-for="item in categories" :key="item.CategoryId" class="col-12 col-sm-4 col-md-3">
              <div v-bind:style="{ backgroundImage: 'url(' + item.ImageUrl + ')' }" :class="'category-item-wrapper cat-'+item.CategoryId">
                <div class="inner text-center">
                  <a :href="'/utbildning/kategori/'+item.permalink" class=""><h4>{{ item.CategoryName }}</h4></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <BaseLoading v-else />
  </div>
</template>
<script>
export default {
  components: {
    // BasePostCourse: () => import('~/components/BasePostCourse-edu.vue'),
    // BaseLoading: () => import('~/components/BaseLoading.vue')
    // BaseFilter: () => import('~/components/BaseFilter-edu.vue')
  },
  props: {

  },
  data () {
    return {

    }
  },
  computed: {

    loading () {
      let res = false

      // console.log(this.programmes)

      if (this.includeCourse && !this.courses) {
        res = true
      }

      return res
    },

    categories () {
      let items = []
      const res = []

      items = items.concat(this.$store.state.bearerToken.categories.categories || [])

      // console.log(items)
      // const itemGroups = this.getCourseGroups(items)

      items.forEach((item) => {
        let valid = true

        if (item.ShowOnWeb === false) {
          valid = false
        }
        if (item.ParentCategoryId !== 53911) {
          valid = false
        }

        item.permalink = item.CategoryName.toLowerCase().replaceAll(/[&/\\#,+()$~%.'":*?<>{}]/g, '').replaceAll('å', 'a').replaceAll('ä', 'a').replaceAll('ö', 'o').replaceAll(' ', '-') + '-' + item.CategoryId

        if (valid) {
          res.push(item)
        }
      })

      return res.sort((a, b) =>
        a.CategoryName > b.CategoryName ? 1 : b.CategoryName > a.CategoryName ? -1 : 0
      )
    }

  },
  watch: {

  },

  mounted () {
    /*     this.$store.dispatch('bearerToken/getEvents')
    this.$store.dispatch('bearerToken/getCourseTemplates')
    this.$store.dispatch('bearerToken/getCategories') */
  }

}
</script>
<style lang="scss">
@media (max-width: 991px) {
  .order-m-1 {
    order: 1;
  }
  .order-m-2 {
    order: 2;
  }
}

.category-item-wrapper {
    padding-top: 76%;
    background-position: 50%;
    background-size: auto 120%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0.5rem;
    transition: .2s ease-in-out;
    position: relative;
    &:hover {
    background-size: auto 100%;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: " ";
      background-color: rgba(1,11,25,.5);
      transition: .2s ease-in-out;
    }
    .inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        h4 {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
          font-weight: 700;
          color: #fff;
          margin: 0;
          transition: .2s ease-in-out;
        }
      }
    }
}

.course-archive-wrapper {
  padding: 0 0 70px 0;
  .items-wrapper {
    .post-course-wrapper {
      margin-bottom: 5rem;
    }
  }

  .search-archive-wrapper {
    margin-bottom: 3.7rem;
  }

  .categories-wrapper {
    .list-inline {
      border-top: solid 1px $grey-50;
      border-bottom: solid 1px $grey-50;
      padding: 0.7rem 0;
    }

    .list-inline-item {
      //width: 33%;

      cursor: pointer;

      margin: 0;
      padding: 1rem 1.2rem;
      color: $secondary;
      transition: 0.2s;

      &:hover {
        opacity: 0.5;
      }

      &.active {
        cursor: auto;
        color: $primary;

        &:hover {
          opacity: 1;
        }

        svg {
          fill: $primary;
        }
      }

      svg {
        margin-right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: text-top;
        fill: $secondary;
      }

      @media (max-width: 767.98px) {
        width: 100%;
      }
    }
  }
}
</style>
