<template>
  <div class="post-archive-wrapper">
    <div v-if="!loading" class="row">
      <div class="col-3">
        <BaseFilter
          :filterOptions="filter"
          :filterActive="filterActive"
          :updatefilterActive="updatefilterActiveFromFilter"
        />
      </div>
      <div class="col-9">
        <div class="search-archive-wrapper">
          <b-form-input v-model="filterActive.search" placeholder="Sök utbildning" />
        </div>
        <div class="items-wrapper">
          <div class="row">
            <div v-for="item in itemsFilterd" class="col-12 col-sm-4">
              <client-only>
                <BasePost
                  :title="item.post_title"
                  :content="item.post_excerpt"
                  :image="item.featured_image"
                  :url="item.permalink"
                  :image-pos="item.custom_fields.img_pos"
                />
              </client-only>
            </div>
          </div>
        </div>
      </div>
    </div>
    <BaseLoading v-else />
  </div>
</template>
<script>
export default {
  components: {
    BasePost: () => import('~/components/BasePost.vue'),
    BaseLoading: () => import('~/components/BaseLoading.vue'),
    BaseFilter: () => import('~/components/BaseFilter.vue')
  },
  props: {
    category: {
      type: [Boolean, String],
      default: false
    }
  },
  data () {
    return {
      filterActive: {
        category: [],
        search: null
      }
    }
  },

  computed: {
    loading () {
      let res = false

      if (!this.posts) {
        res = true
      }

      return res
    },

    items () {
      const res = [].concat(this.posts)
      return res.sort((a, b) => (a.post_date < b.post_date) ? 1 : ((b.post_date < a.post_date) ? -1 : 0))
    },

    categories () {
      const res = []
      const uniqueCheck = []
      this.items.forEach((item) => {
        if (item.post_taxs.programme_course_category) {
          item.post_taxs.programme_course_category.forEach((cat) => {
            if (!uniqueCheck.includes(cat.slug)) {
              res.push({ name: cat.name, value: cat.slug })
              uniqueCheck.push(cat.slug)
            }
          })
        }
      })

      return res
    },
    filter () {
      const res = {
        category: {
          title: 'Kategori',
          options: []
        }
      }

      // const forcedOrder = ['senaste-nytt', 'repotage', 'snabbfakta']

      const exlude = ['lediga-jobb', 'alumni']

      const uniqueCheck = []
      this.items.forEach((item) => {
        Object.keys(res).forEach((cat) => {
          if (item.post_taxs[cat]) {
            item.post_taxs[cat].forEach((itemCat) => {
              if (!uniqueCheck.includes(itemCat.slug) && !exlude.includes(itemCat.slug)) {
                res[cat].options.push({
                  text: itemCat.name,
                  value: itemCat.slug
                })
                uniqueCheck.push(itemCat.slug)
              }
            })
          }
        })
      })

      res.category.options.reverse()

      return res
    },

    itemsFilterd () {
      const res = []

      const filterActive = this.filterActive

      this.items.forEach((item) => {
        const valid = {}

        Object.keys(filterActive).forEach((filter) => {
          const filterSection = filterActive[filter]
          if (filterSection && filterSection.length > 0) {
            valid[filter] = false

            if (filter !== 'search') {
              if (item.post_taxs[filter]) {
                item.post_taxs[filter].forEach((category) => {
                  if (filterSection.includes(category.slug)) {
                    valid[filter] = true
                  }
                })
              }
            }

            if (filter === 'search') {
              // title, excerpt, keyword
              const searchWord = filterSection.toLowerCase()

              let keyword = false

              if (item.custom_fields && item.custom_fields.keywords) {
                keyword = item.custom_fields.keywords
                  .toLowerCase()
                  .includes(searchWord)
              }

              if (
                item.post_title.toLowerCase().includes(searchWord) ||
                item.post_excerpt.toLowerCase().includes(searchWord) ||
                keyword
              ) {
                valid[filter] = true
              }
            }
          }
        })

        let allTrue = true
        Object.keys(valid).forEach((item) => {
          if (!valid[item]) {
            allTrue = false
          }
        })

        if (allTrue) {
          res.push(item)
        }
      })

      return res
    },

    posts () {
      return this.$store.state.cpt.post || []
    }
  },

  watch: {
    filterActive: {
      handler (filter) {
        if (filter.search === null || filter.search === '') {
          delete filter.search
        }

        console.log(filter)

        this.$router.replace({ query: filter }).catch(() => {})
      },
      deep: true
    },
    $route (route) {
      this.populateFilterFromQuery(route.query)
    }
  },
  mounted () {
    const query = this.$route.query
    console.log(query)
    if (Object.keys(query).length > 0) {
      this.populateFilterFromQuery(query)
    }

    if (!this.$store.state.cpt.post) {
      this.$store.dispatch({ type: 'getCpt', postType: 'post' })
    }
  },
  methods: {
    updatefilterActiveFromFilter (filterActive) {
      console.log(filterActive)
      this.filterActive = filterActive
    },

    populateFilterFromQuery (query) {
      Object.keys(query).forEach((key) => {
        if (typeof query[key] === 'string' && key !== 'search') {
          query[key] = [query[key]]
        }

        this.filterActive[key] = query[key]
      })
    }
  }
}
</script>
<style lang="scss">
.post-archive-wrapper {
  padding: 0 0 70px 0;
  .items-wrapper {
    .post-course-wrapper {
      margin-bottom: 5rem;
    }
  }

  .search-archive-wrapper {
    margin-bottom: 3.7rem;
  }

  .categories-wrapper {
    .list-inline {
      border-top: solid 1px $grey-50;
      border-bottom: solid 1px $grey-50;
      padding: 0.7rem 0;
    }

    .list-inline-item {
      //width: 33%;

      cursor: pointer;

      margin: 0;
      padding: 1rem 1.2rem;
      color: $secondary;
      transition: 0.2s;

      &:hover {
        opacity: 0.5;
      }

      &.active {
        cursor: auto;
        color: $primary;

        &:hover {
          opacity: 1;
        }

        svg {
          fill: $primary;
        }
      }

      svg {
        margin-right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: text-top;
        fill: $secondary;
      }
    }
  }
}
</style>
