<template>
  <div class="filter-wrapper mr-sm-3">
    <div :key="index" v-for="(filterOption, index) in filterOptions">
      <div
        v-if="filterOption.options.length > 0"
        class="filter-section-wrapper"
      >
        <label v-if="filterOption.title" class="font-weight-bold mb-1">{{ filterOption.title }}</label>

        <b-form-checkbox-group
          :id="index"
          :name="index"
          v-model="filterActive[index]"
          @input="input(index, $event)"
          :options="filterOption.options"
          stacked
        />
        <hr>
      </div>
    </div>

    <div class="clear-filter-btn-wrapper">
      <label class="font-weight-bold mb-1">Rensa filter</label>
      <b-button @click="clearFilter()" variant="primary" size="sm">
        <svg-icon name="filter" />
      </b-button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    filterOptions: {
      type: Object
    },
    filterActive: {
      type: Object
    }
  },
  methods: {
    input (input, value) {
      const filterActive = this.filterActive

      filterActive[input] = value

      this.$emit('updatefilterActive', filterActive)
    },
    clearFilter () {
      const filterActive = this.filterActive

      Object.keys(filterActive).forEach((index) => {
        filterActive[index] = []
      })

      filterActive.search = null
      this.$emit('updatefilterActive', filterActive)
    }
  }
}
</script>
<style lang="scss">
* {
  // box-shadow: 0 0 0 1px $dark;
}
.filter-wrapper {
  label {
    font-size: inherit;
  }

  hr {
    max-width: 250px;
    border-top: solid 1px $grey-50;
    margin-left: 0;

    @media (max-width: 767.98px) {
      max-width: 100%;
    }
  }
  .clear-filter-btn-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    label {
      width: 100%;
    }
    .btn {
      display: flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      padding: 0;
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
</style>
