<template>
  <div class="cf-wrapper">
    <client-only>
      <div v-html="formHtml" class="form-wrapper" />
    </client-only>
  </div>
</template>
<script>
export default {
  /****************************************************************************************/
  /*                                                                                      */
  /* Add following to middleware/getSupportData.js                                        */
  /* await context.app.store.dispatch({ type: 'getContactform', id: [ID], lang: [LANG] }) */
  /*                                                                                      */
  /****************************************************************************************/
  props: {
    id: {
      type: [Number, String]
    },
    theTitle: String
  },
  computed: {
    form () {
      return this.$store.state.cf7.cf[this.id] || {}
    },
    formHtml () {
      return this.form.html
    },
    formScripts () {
      return this.form.js
    },
    formStyle () {
      return this.form.css
    }
  },

  mounted () {
    // Needs to load after form html
    setTimeout(() => {
      const cfController = document.createElement('script')
      cfController.setAttribute('src', this.formScripts.scripts)
      document.body.appendChild(cfController)
    }, 500)
  },
  head () {
    return {
      link: [
        { rel: 'stylesheet', type: 'text/css', href: this.formStyle.main }
      ],
      script: [
        {
          hid: 'jquery',
          async: true,
          type: 'text/javascript',
          src: this.formScripts.jquery
        },
        {
          hid: 'jquery-migrate',
          async: true,
          type: 'text/javascript',
          src: this.formScripts['jquery-migrate']
        },
        {
          hid: 'wpcf7',
          type: 'text/javascript',
          innerHTML: this.formScripts.wpcf7
        }
      ],
      __dangerouslyDisableSanitizersByTagID: {
        wpcf7: ['innerHTML']
      }
    }
  }
}
</script>
<style lang="scss">
.cf-wrapper {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 2rem;
  position: relative;
  max-width: 920px;
  margin: 0 auto;

  input[type="checkbox"]{
    width: auto;
  }

  label {
    margin-left: 0.5rem;
  }

  .wpcf7-list-item {
    margin: 0;
  }

  .wpcf7-file {
    width: 100%;
  }

  .wpcf7-acceptance {
    margin: 1rem 0;
    display: block;

    input {
      margin: 0;
      border-radius: 10px;
    }

    * {
      font-size: 1rem;
    }
  }

  .btn {
    display: block;
    width: 100%;
  }
}
</style>
