<template>
  <div v-if="author !== '' || logotype" :class="['author-wrapper', {'bg-white': background}]">
    <img v-lazy="logotype.sizes[getImageSize('tablet')]" alt="Logotype" class="d-block">
    <div v-if="author != ''" class="text-center">
      {{ prefix }}: {{ author }}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    prefix: {
      type: String,
      default: 'Foto'
    },
    author: {
      type: String,
      default: ''
    },
    background: {
      type: Boolean,
      default: true
    },
    logotype: {
      type: [Object, Boolean],
      default: false
    }
  }
}
</script>
<style lang="scss">

  .author-wrapper {
    position: absolute;
    bottom: 1.5vmin;
    right: 1.5vmin;
    padding: 0.5vmin 1vmin;
    //background-color: #fff;
    border-radius: 1px;
    opacity: 1;
    transition: 0.4s ease-in-out;

    &.bg-white {
      opacity: 0.5;
    }

    &:hover {
          opacity: 1;

    }
  }

</style>
