<template>
  <div class="post-employee-wrapper">
    <div
      v-lazy:background-image="image ? image : false"
      class="background-image image-wrapper"
    />

    <h4 v-html="name" class="sub-title font-weight-bold" />
    <p v-html="title" class="role" />

    <div class="contact-wrapper">
      <a :href="'tel:' + phone" v-html="phone" /><br>
      <a :href="'mailto:' + mail" v-html="mail" />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    image: {
      type: String
    },
    name: {
      type: String
    },
    title: {
      type: String
    },
    phone: {
      type: String
    },
    mail: {
      type: String
    }
  }
}
</script>
<style lang="scss">
.post-employee-wrapper {
  margin-bottom: 3.8rem;

  * {
    word-break: break-all;
  }

  .image-wrapper {
    padding-top: 130%;
    background-position: center;
    background-size: cover;
  }

  .sub-title {
    margin-top: 2rem;
    margin-bottom: 0;
    color: #000;
  }

  .role {
    color: $text-color;
    margin-bottom: 1.6rem;
  }
}
</style>
