<template>
  <span class="tags-wrapper">
    <client-only>
      <b-badge v-for="tag in tags.filter(Boolean)" :variant="variant" @click.prevent="selectTag(tag)" class="ml-1" pill>
        <svg-icon v-if="tag.icon" :name="tag.icon" />
        <span v-html="tag.name" />
      </b-badge>
    </client-only>
  </span>
</template>
<script>
export default {
  props: {
    tags: {
      type: Array
    },
    variant: {
      type: String,
      default: 'light'
    }
  },
  methods: {
    selectTag (tag) {
      if (tag.url) {
        this.$router.push({ path: tag.url })
      } else if (tag.category && tag.value) {
        // const name = this.$route.name

        const res = {}
        res[tag.category] = []
        res[tag.category].push(tag.value)

        console.log(res)

        this.$router.push({ path: '/utbildning/', query: res })
      }
    }
  }
}
</script>
<style lang="scss">
  .tags-wrapper {

    .badge {
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        opacity: 0.6;
      }

      span {
        transform: translateY(2px);
        min-height: 1rem;
        display: inline-block;
      }
    }

    .badge-dark {
      svg {
        fill: #fff;
      }
    }
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
</style>
