<template>
  <div ref="wrapper" :class="['cta-wrapper']">
    <div class="container">
      <div class="row no-gutters box-shadow">
        <div :class="['col-12 col-sm-7', { 'order-sm-1': textPos === 'left' }]">
          <client-only>
            <iframe
              v-if="youtube"
              :src="'https://www.youtube.com/embed/' + youtube"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            />

            <div
              ref="image"
              v-if="image && !youtube"
              v-lazy:background-image="image[getImageSize('laptop')]"
              class="background-image"
            >
              <BaseAuthor v-if="imageAttr && (imageAttr.author || imageAttr.logotype)" :background="imageAttr.background" :logotype="imageAttr.logotype" :author="imageAttr.author" />
            </div>
          </client-only>
        </div>

        <div class="col-12 col-sm-5 ">
          <div :class="['content', 'bg-' + background]">
            <h5> {{ subTitle }}</h5>
            <h3 ref="title">
              {{ title }}
            </h3>

            <div ref="content" v-html="content" />

            <BaseButtons
              ref="buttons"

              v-if="buttonOptions"
              :type="buttonOptions.type"
              :link="buttonOptions.link"
              :label="buttonOptions.label"
              :buttons="addVariantToButtons(buttonOptions.buttons)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseButtons: () => import('~/components/BaseButtons.vue'),
    BaseAuthor: () => import('~/components/BaseAuthor.vue')
  },
  props: {
    background: {
      type: String,
      default: ''
    },
    textPos: {
      type: String,
      default: 'right'
    },

    title: {
      type: String
    },
    subTitle: {
      type: String
    },
    content: {
      type: String
    },
    youtube: {
      type: [String, Boolean],
      default: false
    },
    image: {
      type: [Object, Boolean],
      default: false
    },
    imageAttr: {
      type: [Object, Boolean],
      default: false
    },
    buttonOptions: {
      type: Object
    },

    buttons: {
      type: [Array, Boolean],
      default: false
    },
    buttonsLabel: {
      type: String
    }
  }
}
</script>
<style lang="scss">
  .cta-wrapper {

    .row {
      box-shadow: 0 50px 60px -60px rgba(0, 0, 0, 0.4);
    }

    .content {
      min-height: 450px;
      padding: 5vmin;
      background-color: $light-grey-25;

    @media (max-width: 767.98px) {
      min-height: 0px;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    //padding-top: 56%;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  .background-image {
    height: 100%;
    padding-top: 50%;
    background-size: cover;
    background-position: center center;
    //  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}
</style>
