<template>
  <div v-html="string" class="iframe-wrapper" />
</template>
<script>
export default {

  props: {
    string: {
      type: String
    }
  }
}
</script>
<style lang="scss">
  .iframe-wrapper {
    width: 100%;
    padding-top: 52%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
</style>
