<template>
  <div class="block-wrapper-wrapper">
    <div :class="['block-wrapper-header', 'text-' + alignment]">
      <div class="container">
        {{ subTitle }}
        <h2 class="h1">
          {{ title }}
        </h2>
        <div v-html="content" class="content" />
      </div>
    </div>

    <div :class="['block-wrapper-inner']">
      <div class="container">
        <div class="slot-wrapper">
          <slot class="slot" />
        </div>
      </div>
    </div>
    <div :class="['block-wrapper-footer', 'text-' + alignment]">
      <div class="container">
        <BaseButtons
          ref="buttons"
          v-if="buttonOptions"
          :type="buttonOptions.type"
          :link="buttonOptions.link"
          :label="buttonOptions.label"
          :buttons="addVariantToButtons(buttonOptions.buttons)"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseButtons: () => import('~/components/BaseButtons.vue')
  },
  props: {
    title: {
      type: String
    },
    subTitle: {
      type: String
    },
    content: {
      type: String
    },
    alignment: {
      type: String,
      default: 'left'
    },
    buttonOptions: {
      type: [Object, Boolean],
      default: false
    }
  }
}
</script>
<style lang="scss">
.block-wrapper-wrapper {
  .h1 {
    margin-bottom: 0.7rem;
  }

    .content {
      max-width: 780px;
      margin: 0 auto;
      display: block;
      color: $text-color;
      //color: $grey;
    }

  .slot-wrapper {
    margin: 4.5rem 0;

    /* Vad va sambandet till denna kod?
    .row {
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
    }
    .slot-item {
      margin: 0.5%;
      flex: 0 0 32.33333%;
      max-width: 32.33333%;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        flex: 0 0 49%;
        max-width: 49%;
      }
      @media (max-width: 600px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0 50px 0;
      }
    }
    .archive-item {
      margin: 0.5%;
      flex: 0 0 32.33333%;
      max-width: 32.33333%;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        flex: 0 0 49%;
        max-width: 49%;
      }
      @media (max-width: 600px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0 50px 0;
      }
    }
    */
  }
}
</style>
