<template>
  <div class="search-wrapper">
    <autocomplete
      id="search"
      ref="input"
      :search="searchResult"
      :get-result-value="getResultValue"
      @submit="onSubmit"
      :placeholder="options.search.placeholder"
      data-expanded="true"
      aria-label="Sök Tuc sweden"
    >
      <template #result="{ result, props }">
        <li
          v-bind="props"
          :class="[
            'autocomplete-result',
            { divider: result.status === 'divider' },
          ]"
        >
          <div class="content">
            <div
              :class="[
                'list-title',
                { 'sub-title': result.status === 'divider' },
              ]"
              v-html="searchResultOutput(result)"
            />
          </div>
        </li>
      </template>
    </autocomplete>
    <p v-if="options.search.description && options.search.description !== ''" v-html="options.search.description" class="description" />
  </div>
</template>
<script>
import Autocomplete from '@trevoreyre/autocomplete-vue'

export default {
  components: {
    Autocomplete
  },

  data () {
    return {
      postType: {
        page: 'Sidor',
        post: 'Artiklar',
        faq: 'Vanliga frågor',
        course: 'Kurs',
        programme: 'YH-utbildningar',
        employee: 'Personal'
      }
    }
  },

  computed: {
    options () {
      return this.$store.state.options
    },

    sitemap () {
      const res = [].concat(this.$store.state.sitemap)

      return res.sort((a, b) =>
        a.post_title > b.post_title ? 1 : b.post_title > a.post_title ? -1 : 0
      )
    }
  },

  watch: {
    searchVal (val) {
      this.$router.push({ query: { q: val } })
    }
  },

  mounted () {
    if (this.$route.query.q && this.$route.query.q.length > 2) {
      this.selectSearch(this.$route.query.q)
    }
  },

  methods: {
    searchResultOutput (result) {
      const label = result.post_title
      let categories = ''

      if ((result.post_type === 'course' || result.post_type === 'programme') && result.post_taxs && result.post_taxs.programme_course_area) {
        categories += ' - '
        const primaryCategory = result.post_taxs.programme_course_area.filter((cat) => {
          return cat.primary
        })

        const secoundaryCategories = result.post_taxs.programme_course_area.filter((cat) => {
          return !cat.primary && !cat.name.includes('Satellitort')
        })

        const tetriaryCategories = result.post_taxs.programme_course_area.filter((cat) => {
          return !cat.primary && cat.name.includes('Satellitort')
        })

        categories += primaryCategory.map((cat) => {
          return cat.name
        }).join(', ')

        if (secoundaryCategories.length > 0 || tetriaryCategories.length > 0) {
          categories += ' ('

          categories += secoundaryCategories.map((cat) => {
            return cat.name
          }).join(', ')

          if (secoundaryCategories.length > 0 && tetriaryCategories.length > 0) {
            categories += ', '
          }

          categories += tetriaryCategories.map((cat) => {
            return cat.name
          }).join(', ')

          categories += ')'
        }

        /* categories += result.post_taxs.programme_course_area.map((cat) => {
          if (cat.primary) {
            return cat.name
          } else {
            return ''
          }
        }) */
      }

      return this.selectSubString(label + categories, this.searchVal)
    },

    selectSubString (string, substring) {
      if (string) {
        const re = new RegExp(substring, 'gi')
        return string.replace(re, '<span class="query">$&</span>')
      } else {
        return string
      }
    },

    postCategory (result) {
      const res = this.postType[result.post_type] || result.post_type

      return res
    },
    selectSearch (val) {
      this.$refs.input.value = val

      this.focusInput()

      // this.$refs.input.search(val)
    },

    focusInput () {
      setTimeout(() => {
        this.$refs.input.$refs.input.focus()
      }, 100)
    },

    getResultValue (result) {
      if (!result.status) {
        return result.post_title
      } else {
        return ''
      }
    },

    onSubmit (result) {
      if (result.permalink) {
        const res = result.permalink.replace(/\/$/, '').replace('https://academy.tucsweden.se', '')

        console.log(res)
        this.$router.push(res)
      }
    },

    searchResult (input) {
      input = input.toLowerCase()

      const exludedType = ['quotes', 'alumni']

      if (input.length > 2) {
        this.searchVal = input
        const posts = []
        const res = []
        if (input.length > 0) {
          this.sitemap.forEach((page) => {
            if (!exludedType.includes(page.post_type)) {
            // Title
              const title = page.post_title.toLowerCase()

              // type
              let type = this.postCategory(page)

              if (type !== undefined) {
                type = type.toLowerCase()
              }

              // excerpt
              const excerpt = page.post_excerpt.toLowerCase()

              // keywords
              const keywords = page.keywords ? page.keywords.toLowerCase() : ''

              if (
                title.includes(input) ||
              type.includes(input) ||
              excerpt.includes(input) ||
              keywords.includes(input)
              ) {
                posts.push(page)
              }
            }
          })
        }

        /*  group result with dividers */
        if (posts.length > 0) {
          const unsortedRes = {}

          // Group objects
          posts.forEach((post) => {
            const postCategory = this.postCategory(post)

            if (!unsortedRes[postCategory]) {
              unsortedRes[postCategory] = []
            }

            unsortedRes[postCategory].push(post)
          })

          // Sort by biggest group
          const sortedRes = Object.keys(unsortedRes).sort(function (a, b) {
            return b.length - a.length
          })

          // divide
          let newCategory = false
          sortedRes.forEach((postCategory) => {
            const posts = unsortedRes[postCategory]

            posts.forEach((post) => {
              if (postCategory !== newCategory) {
                res.push({
                  status: 'divider',
                  post_title: postCategory
                })

                newCategory = postCategory
              }

              res.push(post)
            })
          })
        }

        /*  group result with dividers */
        if (input.length > 2) {
          return res.length > 0
            ? res
            : [
              {
                status: 404,
                post_title: 'Vi hittade tyvärr inga resultat, försök med ett annat sökord. '
              }
            ]
        } else {
          return res
        }
      } else {
        return []
      }
    }
  }
}
</script>
<style lang="scss">
/* Core styles */
.search-wrapper {
  max-width: 700px;
  margin: 0 auto;
  z-index: 700;
  position: relative;

  .autocomplete-input {
    box-shadow: 0 18px 40px -12px $dark;
    transition: 0.4s;
  }

  p.description {
    margin-top: 1em;
  }

  input {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    padding: 1rem;
    margin: 0;
    border: none;

    @media (max-width: 767.98px) {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    &:focus {
      outline: none;
      transform: scale(1.05);
      box-shadow: 0 18px 40px -12px $dark;

      // border-top-right-radius: 20px;
      // border-top-left-radius: 20px;
      // border-bottom-right-radius: 0px;
      // border-bottom-left-radius: 0px;
    }
  }

  .autocomplete-result-list {
    left: 0;
    list-style: none;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 18px 40px -12px $dark;
    border-radius: 20px;
    margin-top: 30px;
    transform: scale(1.05);

    li {
      border-radius: 4px;
      transition: 0.4s;
      padding: 1rem;
      display: flex;
      color: #000;
      text-align: left;
      margin: 0.5rem 0;
      background-color: $light-grey-25;

      &.divider {
        padding: 0.1rem 0;
        padding-top: 0.9rem;
        background-color: transparent;
        font-weight: 700;
      }

      &:hover:not(.divider) {
        cursor: pointer;
        background-color: $light-grey-50;
      }

      .content {
        width: 100%;

        .list-title {
          margin-left: 0.9rem;

          .query {
            //font-weight: 700;
            text-decoration: underline;
          }

          &.sub-title {
            //margin-left: 0rem;
          }
        }
      }
    }
  }
}
</style>
