<template>
  <div v-lazy:background-image="image" class="post-location-wrapper">
    <div class="post-location-inner text-center">
      <nuxt-link :to="url">
        <h4>{{ title }}</h4>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    },
    image: {
      type: String
    },
    url: {
      type: String
    }
  }
}
</script>
<style lang="scss">
  .post-location-wrapper {
    padding-top: 76%;
    background-position: center center;
    background-size: 120% auto;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 0.5rem;
    transition: .4s ease-in-out;

    &:before {
      content: ' ';
      background-color: $black-50;
      transition: .4s ease-in-out;
    }

    .post-location-inner, a, &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    h4 {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      font-weight: 700 ;
      color: #fff;
      margin: 0;
      transition: .4s ease-in-out;
    }

    &:hover {
      background-size: 100% auto ;
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.5);

      &:before {
        opacity: 0.2;

      }

      h4 {
        opacity: 0.2;
      }
    }
  }
</style>
