<template>
  <div class="post-quote-wrapper text-center">
    <div v-lazy:background-image="image" class="background-image" />
    <label class="font-weight-bold">{{ name }}</label>
    <div v-html="content" class="content" />
  </div>
</template>
<script>
export default {
  props: {
    name: {
      type: String
    },
    content: {
      type: String
    },
    image: {
      type: String
    }
  }
}
</script>
<style lang="scss">
.post-quote-wrapper {
  padding: 3rem 0 1rem 0;
  .background-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    background-size: cover;
    background-position: center center;
  }
}
</style>
