<template>
  <div class="course-intro-wrapper">
    <div id="form-popup" :class="[isActive ? 'active' : 'noActive']">
      <!-- <BaseContactForm v-if="true" :id="7186" :theTitle="title" /> -->
    </div>

    <div class="container text-center">
      <div v-if="category" class="category-wrapper">
        <h4 v-html="category" class="category title" />
        <hr>
      </div>

      <h1 class="text-primary">
        {{ title }}
      </h1>
      <div v-html="shortDescription" class="content title" />

      <div v-if="video && video !== ''" v-html="video" class="iframe-wrapper" />

      <div v-else v-lazy:background-image="image ? image : false" class="background-image" />
    </div>
  </div>
</template>
<script>
export default {
  components: {
    // BaseContactForm: () => import('~/components/BaseContactform.vue')
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    category: {
      type: [String, Boolean],
      default: ''
    },
    subTitle: {
      type: String,
      default: ''
    },
    shortDescription: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    },
    video: {
      type: String,
      default: ''
    },
    applyactive: {
      type: Boolean,
      default: false
    },
    applylink: {
      type: String,
      default: ''
    },
    quote: {
      type: Boolean,
      default: false
    },
    theTitle: {
      type: [String, Boolean],
      default: false
    }
  },
  data () {
    return {
      isActive: false,
      tieTitle: false
    }
  },
  watch: {
    $route () {
      this.isActive = false
    }
  },
  methods: {
    toggleClass (event) {
      if (this.isActive) {
        this.isActive = false
      } else {
        this.isActive = true
      }
    }
  }
}
</script>

<style lang="scss">
  #form-popup {
    opacity: 0;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 70px);
    background: rgba(ghostwhite, 0.95);
    pointer-events: none;
    transition: all ease 150ms;
    &.active {
      opacity: 1;
      pointer-events: initial;
      z-index: 2;
      .cf-wrapper {
        opacity: 1;
        transform: translateY(0px);
        transition: all ease 150ms;
        transition-delay: 150ms;
      }
    }
    .form-popup-inner {
      width: 100%;
    }
    .cf-wrapper {
      opacity: 0;
      transform: translateY(-20px);

      .form-top {
        margin-bottom: 2rem;
      }
      label, input, textarea {
        width: 100%;
        margin-left: 0;
      }

    }
  }
  .fixed-apply-button {
    position: fixed;
    bottom: 3rem;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    button.btn {
      width: auto;
      margin-left: 1rem;
      background: $primary-gradient;
      color: #fff;
      padding: 1rem 2rem;
      font-size: 1.25rem;
      &:hover {
          color: #fff;
          text-decoration: none;
          box-shadow: 0 10px 14px -2px rgba(0, 0, 0, 0.5);
      }
    }
    a.btn {
      width: auto;
      background-image: $primary-gradient;
      color: #fff;
      padding: 1rem 2rem;
      font-size: 1.25rem;
      &:hover {
          color: #fff;
          text-decoration: none;
          box-shadow: 0 10px 14px -2px rgba(0, 0, 0, 0.5);
      }
    }
  }
/* Core styles */
.course-intro-wrapper {
  padding-top: 70px;
  .category-wrapper {
    h4 {
      color: $text-color;
    }

    hr {
      width: 20px;
      border-color: $text-color;
    }
  }

  .lead-text {
    margin-bottom: 5rem;
  }

  .content {
    color: $text-color;
    margin-bottom: 6.5rem;

    .lead {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
  }

  .iframe-wrapper {
    padding-top: 56%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }

  .background-image {
    padding-top: 52%;
    background-position: center;
    background-size: cover;
  }
}
</style>
