<template>
  <transition name="fade">
    <div v-if="loading" class="loading-page-wrapper">
      <div class="loading-wrapper">
        <ul class="list-unstyled justify-content-around">
          <li class="dot red" />
          <li class="dot grey" />
          <li class="dot black" />
        </ul>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  data: () => ({
    loading: false,
    progress: 0
  }),
  methods: {
    start () {
      this.loading = true
    },
    finish () {
      this.loading = false
    },
    increase (num) {
      this.progress = num
    }
  }
}
</script>
<style lang="scss">
.fade-enter-active {
  transition: all 150ms ease;
}
.fade-leave-active {
  transition-delay: 150ms;
  transition: all 150ms cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter, .fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.loading-page-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background: $white;

  .loading-inner {
    //transform: translate(100%, 100%);
  }

  .loading-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .list-unstyled {
      margin: 4rem auto;
      display: flex;
      max-width: 200px;
      padding: 20px;
    }

    .dot {
      width: 30px;
      height: 30px;
      border-radius: 100px;

      &.red {
        background-color: $primary;
        animation: redDot 1s infinite;
        animation-delay: 0s;
      }

      &.grey {
        background-color: $secondary;
        animation: greyDot 1s infinite;
        animation-delay: 0.2s;
      }

      &.black {
        background-color: $tetriary;
        animation: blackDot 1s infinite;
        animation-delay: 0.3s;
      }
    }
  }
}

@keyframes redDot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes greyDot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes blackDot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.8);
  }
}
</style>
