<template>
  <div v-if="postsFormated" class="archive-course-wrapper">
    <BaseBlockWrapper
      :title="title"
      :sub-title="subTitle"
      :content="content"
      :button-options="buttonOptions"
      :alignment="alignment"
    >
      <div
        :style="{ transform: 'translateX(' + translate + '%)' }"
        :class="['row no-wrap', {'justify-content-center' : totalPages === 0 }]"
      >
        <div :key="post.ID" v-for="post in postsFormated" class="col-12 col-sm-3">
          <BasePost
            :title="post.post_title"
            :content="post.post_excerpt"
            :image="post.featured_image"
            :url="post.permalink"
            :image-pos="post.custom_fields.img_pos"
          />
        </div>
      </div>
      <div v-if="totalPages > 0" class="nav-wrapper">
        <div @click="prevPage()" class="prev-wrapper">
          <b-button variant="light">
            <svg-icon name="arrow-down-left" />
          </b-button>
        </div>
        <ul class="slide-wrapper list-inline">
          <li
            :class="['list-inline-item', { active: currentPage >= page }]"
            v-for="page in range(0, totalPages)"
            :key="page"
            @click="setPage(page)"
          />
        </ul>
        <div @click="nextPage()" class="next-wrapper">
          <b-button variant="light">
            <svg-icon name="arrow-down-right" />
          </b-button>
        </div>
      </div>
    </BaseBlockWrapper>
  </div>
</template>
<script>
export default {
  components: {
    BaseBlockWrapper: () => import('~/components/BaseBlockWrapper.vue'),
    BasePost: () => import('~/components/BasePost.vue')
  },
  props: {
    title: {
      type: String
    },
    buttonOptions: {
      type: Object
    },
    posts: {
      type: [Array, Boolean],
      default: false
    },
    alignment: {
      type: String
    },
    subTitle: {
      type: String
    },
    content: {
      type: String
    }
  },
  data () {
    return {
      currentPage: 0
    }
  },

  computed: {
    translate () {
      return -100 * this.currentPage
    },

    totalPages () {
      let cardsPerPage = 4

      if (this.isTablet()) {
        cardsPerPage = 3
      }

      if (this.isMobile()) {
        cardsPerPage = 1
      }

      const res = this.postsFormated.length / cardsPerPage

      return Math.ceil(res) - 1
    },
    postsFormated () {
      const res = []
      const items = this.posts

      if (items) {
        const itemGroups = this.getCourseGroups(items)

        items.forEach((item) => {
          if (item.custom_fields.group_course) {
            if (item.custom_fields.show_in_archive) { // Only show 1 in group
              const group = this.getGroupName(item.post_name, item.post_taxs.programme_course_area)

              const temp = Object.assign({ groupName: group, siblings: itemGroups[group] }, item)

              res.push(temp)
            }
          } else {
            res.push(item)
          }
        })
      }

      return res.sort((a, b) => (a.post_title > b.post_title) ? 1 : ((b.post_title > a.post_title) ? -1 : 0))
    }
  },
  methods: {

    setPage (page) {
      this.currentPage = page
    },

    nextPage () {
      if (this.currentPage === this.totalPages) {
        this.currentPage = 0
      } else if (this.currentPage < this.totalPages) {
        this.currentPage++
      }
    },
    prevPage () {
      if (this.currentPage === 0) {
        this.currentPage = this.totalPages
      } else if (this.currentPage > 0) {
        this.currentPage--
      }
    }
  }
}
</script>
<style lang="scss">
  .archive-course-wrapper {
    margin: 4rem 0;

    .slot-wrapper {
      overflow: hidden;
    }

    .h1 {
      display: block;
      max-width: 950px;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .no-wrap {
      flex-wrap: nowrap;
    }

    .nav-wrapper {
      margin-top: 5.1rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      @media (max-width: 767.98px) {
        display: block;
      }

      .prev-wrapper svg {
        transform: rotate(45deg);
        fill: $dark;
      }

      .next-wrapper svg {
        transform: rotate(-45deg);
        fill: $dark;
      }

      @media (max-width: 767.98px) {
        .prev-wrapper {
          display: inline-block;
          width: 49%;
        }

        .next-wrapper {
          display: inline-block;
          width: 49%;
        }

        .next-wrapper .btn, .prev-wrapper .btn {
          display: block;
          width: 100%;
        }
      }

      .slide-wrapper {
        margin: 0 1rem;

        @media (max-width: 767.98px) {
          display: none;
        }

        .list-inline-item {
          border-radius: 50%;
          width: 10px;
          height: 10px;
          background-color: $black-25;

          &.active {
            background-color: $primary;
          }
        }
      }
    }
  }
</style>
