/* Do not use */

<template>
  <div :style="{'background-image': 'url(' + ((image)? image : '/placeholder.svg') + ')'}" class="image background-image image-wrapper" />
</template>
<script>
export default {
  props: {
    image: {
      type: String
    }
  }
}
</script>
<style lang="scss">
  /* Core styles */
  .image-wrapper {
    background-position: center center;
    background-size: cover;
  }

  /* Project styles */

  .image-wrapper {

  }
</style>
