<template>
  <div :class="['gallery-wrapper', 'bg-' + background]">
    <div class="container">
      <div class="row">
        <div
          v-for="image in images"
          :key="image.ID"
          :class="['col-12 gallery-item', {'single' : images.length === 1}, {'col-sm-6' : images.length > 1}, cols]"
        >
          <div v-if="image" v-lazy:background-image="image.sizes[getImageSize('max')]" class="background-image">
            <BaseAuthor v-if="image.custom_fields.author" :author="image.custom_fields.author" />
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseAuthor: () => import('~/components/BaseAuthor.vue')
  },
  props: {
    background: {
      type: String
    },
    images: {
      type: Array
    },
    cols: {
      type: String
    }
  }
}
</script>
<style lang="scss">
  .gallery-wrapper {
    overflow: hidden;
    margin-bottom: -8.8vmin;

    //padding-top: 8.3vmin;
    //padding-bottom: 4.2vmin;

    .row {
      margin: 0 -4.4vmin;

      >* {
        padding: 0 4.4vmin;
      }
    }

    .background-image {
      margin-bottom: 8.8vmin;
      padding-top: 69%; // Nice
      max-height: 60vh;
      background-position: center;
      background-size: cover;
      position: relative;

      &:hover {
        .author-wrapper {
            opacity: 1;
        }
      }
    }

    .single {
      .background-image {
        padding-top: 40%;
      }
    }
  }
</style>
