<template>
  <div class="course-archive-wrapper">
    <div class="categories-wrapper">
      <ul v-if="!loading" class="list-inline">
        <li
          @click="toggleFilterItem('programme_course_category', category.value)"
          :key="category.slug"
          v-for="category in categories"
          :class="[
            'list-inline-item',
            {
              active: filterActive.programme_course_category.includes(
                category.value
              ),
            },
          ]"
        >
          <svg-icon
            v-if="categoryIcons[category.value]"
            :name="categoryIcons[category.value]"
          />
          <span v-html="category.name" />
        </li>
      </ul>
    </div>

    <div v-if="!loading" class="row">
      <div v-if="isFilterActive" class="col-12 col-lg-3">
        <BaseFilter
          :filterOptions="filter"
          :filterActive="filterActive"
          :updatefilterActive="updatefilterActiveFromFilter"
        />
      </div>
      <div :class="['col-12',{ 'col-lg-9': isFilterActive }]">
        <div class="search-archive-wrapper">
          <b-form-input
            v-model="filterActive.search"
            placeholder="Sök kurser"
          />
        </div>
        <div class="items-wrapper">
          <div class="row">
            <div v-for="item in itemsFilterd" :class="['col-12', {'col-sm-4': isFilterActive}, {'col-sm-3': !isFilterActive}]" :key="item.id">
              <BasePostCourse
                :title="item.post_title"
                :image="item.featured_image"
                :image-pos="item.custom_fields.img_pos"
                :content="item.post_excerpt"
                :upper-tags="
                  formatCategories([item.post_taxs.programme_course_internship])
                "
                :tags="
                  formatCategories([
                    item.post_taxs.programme_course_category,
                    item.post_taxs.programme_course_speed,
                    item.post_taxs.programme_course_form,
                    formatLocations(
                      item.post_taxs.programme_course_area,
                      item.custom_fields.group_course
                    ),
                  ])
                "
                :yh="
                  item.custom_fields ? item.custom_fields['yh-course'] : false
                "
                :isGroup="
                  item.custom_fields.group_course ? item.groupName : false
                "
                :siblings="item.siblings"
                :permalink="item.permalink"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <BaseLoading v-else />
  </div>
</template>
<script>
export default {
  components: {
    BasePostCourse: () => import('~/components/BasePostCourse.vue'),
    BaseLoading: () => import('~/components/BaseLoading.vue'),
    BaseFilter: () => import('~/components/BaseFilter.vue')
  },
  props: {
    includeCourse: {
      type: Boolean,
      default: false
    },
    includeProgramme: {
      type: Boolean,
      default: false
    },
    isFilterActive: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      filterActive: {
        programme_course_category: [],
        programme_course_length: [],
        programme_course_area: [],
        programme_course_flex: [],
        programme_course_period: [],
        programme_course_reskilling: [],
        programme_course_upskilling: [],

        programme_course_form: [],
        other: [],
        search: null
      },
      categoryIcons: {
        'ekonomi-administration-forsaljning': 'book-open',
        'bygg-anlaggning-fastighet': 'jackhammer',
        'data-it': 'processor',
        'hotell-restaurang-besoksnaring': 'thumbs-up',
        'teknik-tillverkning-drift-underhall': 'cog',
        'halso-sjukvard-socialt-arbete': 'medical-square',
        'ledarskap-kommunikation': 'comments',
        'behorighetsutbildning': 'check',
        kontakttolk: 'sign-alt'
      }
    }
  },

  computed: {
    loading () {
      let res = false

      // console.log(this.programmes)

      if (this.includeCourse && !this.courses) {
        res = true
      }

      if (this.includeProgramme && !this.programmes) {
        res = true
      }

      return res
    },

    items () {
      let items = []
      const res = []

      if (this.includeCourse) {
        items = items.concat(this.courses || [])
      }

      if (this.includeProgramme) {
        items = items.concat(this.programmes || [])
      }

      const itemGroups = this.getCourseGroups(items)

      items.forEach((item) => {
        let valid = true

        if (item.post_taxs.course_type) {
          valid = false
        }

        if (valid) {
          if (item.custom_fields.group_course) {
            if (item.custom_fields.show_in_archive) {
              // Only show 1 in group
              const group = this.getGroupName(
                item.post_name,
                item.post_taxs.programme_course_area
              )

              const temp = Object.assign(
                { groupName: group, siblings: itemGroups[group] },
                item
              )

              res.push(temp)
            }
          } else {
            res.push(item)
          }
        }
      })

      return res.sort((a, b) =>
        a.post_title > b.post_title ? 1 : b.post_title > a.post_title ? -1 : 0
      )
    },

    categories () {
      const res = []
      const uniqueCheck = []
      this.items.forEach((item) => {
        if (item.post_taxs.programme_course_category) {
          item.post_taxs.programme_course_category.forEach((cat) => {
            if (!uniqueCheck.includes(cat.slug)) {
              res.push({ name: cat.name, value: cat.slug })
              uniqueCheck.push(cat.slug)
            }
          })
        }
      })

      return res
    },
    filter () {
      const res = {
        /* programme_course_length: {
          title: 'Utbildningslängd',
          options: []
        },

        programme_course_area: {
          title: 'Utbildningsort',
          options: []
        },

        programme_course_flex: {
          title: 'Utbildningsort',
          options: []
        },

        programme_course_period: {
          title: 'Utbildningsstart',
          options: []
        },

        programme_course_reskilling: {
          title: 'Reskilling',
          options: []
        },
        programme_course_upskilling: {
          title: 'Upskilling',
          options: []
        }, */

        programme_course_form: {
          title: 'Utbildningsform',
          options: []
        },

        other: {
          title: false,
          options: []
        }
      }

      const uniqueCheck = []
      this.items.forEach((item) => {
        Object.keys(res).forEach((cat) => {
          if (item.post_taxs[cat]) {
            item.post_taxs[cat].forEach((itemCat) => {
              if (
                !uniqueCheck.includes(itemCat.slug) &&
                itemCat.slug !== 'foretagskurser'
              ) {
                res[cat].options.push({
                  text: itemCat.name,
                  value: itemCat.slug
                })
                uniqueCheck.push(itemCat.slug)
              }
            })
          }
        })

        if (item.siblings) {
          item.siblings.forEach((sibling) => {
            Object.keys(res).forEach((cat) => {
              if (sibling.post_taxs[cat]) {
                sibling.post_taxs[cat].forEach((siblingCat) => {
                  if (
                    !uniqueCheck.includes(siblingCat.slug) &&
                    siblingCat.slug !== 'foretagskurser'
                  ) {
                    res[cat].options.push({
                      text: siblingCat.name,
                      value: siblingCat.slug
                    })
                    uniqueCheck.push(siblingCat.slug)
                  }
                })
              }
            })
          })
        }
      })

      Object.keys(res).forEach((cat) => {
        if (cat !== 'course_type') {
          res[cat].options = res[cat].options.sort((a, b) => {
            // Move Satellitort to last
            const c = (a.text.includes('Satellitort')) ? 'z' + a.text : a.text
            const d = (b.text.includes('Satellitort')) ? 'z' + b.text : b.text

            return c > d ? 1 : d > c ? -1 : 0
          })
        }
      })

      return res
    },

    itemsFilterd () {
      const res = []

      const filterActive = this.filterActive

      this.items.forEach((item) => {
        const valid = {}

        Object.keys(filterActive).forEach((filter) => {
          const filterSection = filterActive[filter]

          if (filterSection && filterSection.length > 0) {
            valid[filter] = false

            // Special for course_type
            if (filter === 'course_type' && filterSection.includes('yh-utbildningar') && item.post_type === 'programme') {
              valid[filter] = true
            }

            // Special for apply
            if (filter === 'other' && filterSection.includes('apply')) {
              if (item.custom_fields.apply) {
                valid[filter] = true
              }

              if (item.siblings) {
                item.siblings.forEach((sibling) => {
                  if (sibling.can_apply) {
                    valid[filter] = true
                  }
                })
              }
            }

            if (filter !== 'search') {
              if (item.post_taxs[filter]) {
                item.post_taxs[filter].forEach((category) => {
                  if (filterSection.includes(category.slug.replace('satellitort-', ''))) {
                    valid[filter] = true
                  }
                })
              }

              if (item.siblings) {
                item.siblings.forEach((sibling) => {
                  if (sibling.post_taxs[filter]) {
                    sibling.post_taxs[filter].forEach((category) => {
                      if (filterSection.includes(category.slug)) {
                        valid[filter] = true
                      }
                    })
                  }
                })
              }
            }

            if (filter === 'search') {
              // title, excerpt, keyword
              const searchWord = filterSection.toLowerCase()

              let keyword = false

              if (item.custom_fields && item.custom_fields.keywords) {
                keyword = item.custom_fields.keywords
                  .toLowerCase()
                  .includes(searchWord)
              }

              if (
                item.post_title.toLowerCase().includes(searchWord) ||
                item.post_excerpt.toLowerCase().includes(searchWord) ||
                keyword
              ) {
                valid[filter] = true
              }
            }
          }
        })

        let allTrue = true
        Object.keys(valid).forEach((item) => {
          if (!valid[item]) {
            allTrue = false
          }
        })

        if (allTrue) {
          res.push(item)
        }
      })

      return res
    },

    courses () {
      return this.$store.state.cpt.course
    },
    programmes () {
      return this.$store.state.cpt.programme
    }
  },

  watch: {
    filterActive: {
      handler (filter) {
        const res = {}

        Object.keys(filter).forEach((filterKey) => {
          const item = filter[filterKey]
          if (item && item.length > 0) {
            res[filterKey] = item
          }
        })

        this.$router.push({ query: res })
      },
      deep: true
    },
    $route (route) {
      this.populateFilterFromQuery(route.query)
    }
  },
  mounted () {
    if (
      !this.$store.state.cpt.programme &&
      this.includeProgramme
    ) {
      this.$store.dispatch({ type: 'getCpt', postType: 'programme' })
    }

    if (!this.$store.state.cpt.course && this.includeCourse) {
      this.$store.dispatch({ type: 'getCpt', postType: 'course' })
    }

    const query = this.$route.query

    if (Object.keys(query).length > 0) {
      this.populateFilterFromQuery(query)
    }

    if (
      this.$route.name.includes('utbildning-')
    ) {
      this.populateFilterFromQuery({
        course_type: [this.$route.name.replace('utbildning-', '')]
      })
    }
  },
  methods: {
    updatefilterActiveFromFilter (filterActive) {
      this.filterActive = filterActive
    },

    populateFilterFromQuery (query) {
      Object.keys(query).forEach((key) => {
        if (this.filterActive[key] || key === 'search') {
          if (typeof query[key] === 'string' && key !== 'search') {
            query[key] = [query[key]]
          }

          this.filterActive[key] = query[key]
        }
      })
    },

    toggleFilterItem (item, value) {
      if (!this.filterActive[item].includes(value)) {
        this.filterActive[item].push(value)
      } else {
        const index = this.filterActive[item].indexOf(value)
        if (index > -1) {
          this.filterActive[item].splice(index, 1)
        }
      }
    }
  }
}
</script>
<style lang="scss">
@media (max-width: 991px) {
  .order-m-1 {
    order: 1;
  }
  .order-m-2 {
    order: 2;
  }
}
.course-archive-wrapper {
  padding: 0 0 70px 0;
  .items-wrapper {
    .post-course-wrapper {
      margin-bottom: 5rem;
    }
  }

  .search-archive-wrapper {
    margin-bottom: 3.7rem;
  }

  .categories-wrapper {
    .list-inline {
      border-top: solid 1px $grey-50;
      border-bottom: solid 1px $grey-50;
      padding: 0.7rem 0;
    }

    .list-inline-item {
      //width: 33%;

      cursor: pointer;

      margin: 0;
      padding: 1rem 1.2rem;
      color: $secondary;
      transition: 0.2s;

      &:hover {
        opacity: 0.5;
      }

      &.active {
        cursor: auto;
        color: $primary;

        &:hover {
          opacity: 1;
        }

        svg {
          fill: $primary;
        }
      }

      svg {
        margin-right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: text-top;
        fill: $secondary;
      }

      @media (max-width: 767.98px) {
        width: 100%;
      }
    }
  }
}
</style>
