<template>
  <div
    ref="wrapper"
    v-lazy:background-image="image"
    class="hero-wrapper background-image next-block-overlap "
  />
</template>
<script>
export default {

  props: {
    image: {
      type: String
    }
  }
}
</script>

<style lang="scss">
.hero-wrapper {
  padding-top: 55%;
  position: relative;
  background-position: center center;
  background-size: cover;

  @media (max-width: 575.98px) {
    max-height: 0px;
    height: auto;
    min-height: 350px;
  }

  &.next-block-overlap {
    margin-bottom: -24vmin;
  }

  &.overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    background-color: #0e0c0e;
    opacity: 0.3;
  }

  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .hero-inner {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #fff;

    @media (max-width: 767.98px) {
      top: 60%;
    }

    .content {
      max-width: 805px;
      margin: 0 auto;

      p {
        color: inherit;
      }
    }

    .buttons-wrapper {
      margin-top: 4vmin;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      div {
        width: 100%;
        margin-bottom: 1vmin;
      }

      a {
      }
      // @media (max-width: 767.98px) {
      //   .btn {
      //     display: flex;
      //     margin-bottom: 1.5vmin;
      //     width: auto;
      //   }
      // }
    }

    /* animation overlay overflow hidden */
    .animation-overlay {
      position: relative;
      //overflow: hidden;
      height: auto;
      padding: 10px 0;

      .h2 {
        margin-bottom: 0;
      }
    }
  }
}
</style>
