<template>
  <div class="content-wrapper">
    <div class="container">
      <div :class="[{ 'bg-wrapper': background !== '' && background !== 'transparent' }, 'bg-' + background]">
        <div ref="content" class="content-inner">
          <p style="margin-bottom: -2rem;">
            Våra kurser inom
          </p>
          <h1>{{ title }}</h1>
          <p style="text-align: center;">
            {{ content }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    // BaseButtons: () => import('~/components/BaseButtons.vue')
  },
  props: {
    content: {
      type: String
    },
    title: {
      type: String
    },
    background: {
      type: String,
      default: ''
    }

  },
  data () {
    return {
      showReadmore: false,
      textAlign: null
    }
  },
  computed: {
    contentFormated () {
      const content = this.content
      let res = ''

      if (content.includes('<p><!--more--></p>')) {
        const splitedContent = content.split('<p><!--more--></p>')

        res += splitedContent[0]
        if (!this.showReadmore) {
          res += '<a href="#readmore" class="readmore-link">Läs mer</a>'
        }
        res += '<div class="readmore-wrapper ' + ((this.showReadmore) ? 'active' : '') + '">'
        res += splitedContent[1]
        res += '</div>'
        if (this.showReadmore) {
          res += '<a href="#readless" class="readmore-link">Läs mindre</a>'
        }
      } else {
        res = content
      }

      if (content.includes('id="')) {
        res = res.replace('id="', 'style="padding-top: 75px; margin-top: -75px;" id="')
      }

      return res
    },
    hasOptions () {
      const buttonOptions = this.buttonOptions
      return buttonOptions &&
              (
                (buttonOptions.type === 'button' && buttonOptions.buttons) ||
                (buttonOptions.type === 'link' && buttonOptions.link)
              )
    }
  },
  watch: {
    $route (route) {
      if (route.hash.includes('readmore')) {
        this.showReadmore = true
      }
      if (route.hash.includes('readless')) {
        this.showReadmore = false
      }
    }
  },
  mounted () {
    const content = this.$refs.content
    let res = null

    if (content && content.firstChild && content.firstChild.style && content.firstChild.style.textAlign) {
      res = content.firstChild.style.textAlign
    }

    this.textAlign = res
  }
}
</script>
<style lang="scss">
.content-wrapper {

  .readmore-link {
    display: block;
    margin: 1vmin 0;
    font-weight: 700;
  }

  .readmore-wrapper {
    height: 0;
    opacity: 0;
    overflow: hidden;

    &.active {
      height: auto;
      opacity: 1;
    }
  }

  .container {
    .bg-wrapper {
      padding: 5vmin 0;
      h1 {
        margin-bottom: 0;
      }

      &.bg-primary {
        background-image: $primary-gradient;
        color: #fff;
        padding: 0 4vmin;
      }
    }
    .content-inner {
      padding: 0 4vmin ;
      //padding-top: 2vmin;
      padding-bottom: 0vmin;
      //overflow-x: hidden;
      max-width: 920px;
      margin-right: auto;
      margin-left: auto;

      h4, h5, h6, p {

      }

      table {
        max-width: 100%;
        height: auto !important;

        @media (max-width: 575.98px) {
          display: block;
        }
        * {
          // vertical-align: top;
        }
        tr {
          @media (max-width: 575.98px) {
            display: block;
          }
        }
        th {
          padding: 0 20px;
          @media (max-width: 575.98px) {
            width: 100%;
            display: block;
          }
        }
        h1 {
          font-size: 24px;
        }
        h4 {
          font-size: 16px;
          margin-top: 10px;
        }
      }
    }
    .buttons-wrapper {
      max-width: 920px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 3vmin;
      margin-bottom: 2vmin;
      padding: 0 4vmin;
      // margin-bottom: 5vmin;
      &.button {

        a {
          @media (max-width: 575.98px) {
            width: 100%;
            margin: 0 0 1rem 0;
          }
        }
      }
    }
  }

  .alignleft {
    float: left;
    margin-left: 0;
  }
  .alignright {
    float: right;
    margin-right: 0;
  }

  .wp-caption-text {
    margin: 0 2rem;
  }

  img {
    opacity: 1;
    margin: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    max-width: calc(100% - 4rem);
    height: auto;

  }
}
</style>
