<template>
  <div class="post-post-wrapper">
    <label class="sub-title">{{ dateNice }}</label>
    <h4 v-html="title" class="font-weight-bold my-1" />

    <div v-if="content && content !== ''" v-html="content" class="content" />
    <nuxt-link :to="url" class="btn-font">
      Läs artikel
      <svg-icon name="angle-right" />
    </nuxt-link>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    },
    content: {
      type: String
    },
    url: {
      type: String
    },
    date: {
      type: String
    }
  },
  computed: {
    dateNice () {
      const date = new Date(this.date.slice(0, 10))

      const day = date.getUTCDate()
      const month = date.getUTCMonth()
      const monthNice = [
        'januari',
        'februari',
        'mars',
        'april',
        'maj',
        'juni',
        'juli',
        'augusti',
        'september',
        'oktober',
        'november',
        'december'
      ]

      const year = date.getUTCFullYear()

      return day + ' ' + monthNice[month] + ' ' + year
    }
  }
}
</script>
<style lang="scss">
/* Core styles */
.post-post-wrapper {
  .sub-title {
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  .btn-font {
    margin-top: 1rem;
    color: $black;
    display: block;
    text-decoration: none;
    display: flex;

    svg {
      margin-left: 0.4em;
      height: 1.8em;
      width: 1.8em;
    }

    &:hover {
      svg {
        fill: $primary;
      }
    }
  }
}
</style>
