<template>
  <div class="archive-employee-wrapper">
    <div v-if="groupItems" class="by-area">
      <div
        v-for="employeeSection in employeesSortedByArea"
        :key="employeeSection.id"
        class="section-wrapper"
      >
        <div class="container">
          <h2 v-if="employeesSortedByArea.length > 1" class="header-title-wrapper text-center">
            {{ employeeSection.title }}
          </h2>

          <div v-if="employeeSection.id === 'utbildningsledare'">
            <div :key="location.id" v-for="location in employeeSection.area">
              <div v-if="location.employees.length > 0" class="location-wrapper">
                <h3 class="header-title-wrapper text-center">
                  {{ location.title }}
                </h3>

                <div class="row justify-content-center">
                  <div
                    v-for="(employee, index) in location.employees"
                    :key="index"
                    :id="employee.post_name"
                    class="col-md-3"
                  >
                    <BasePostEmployee
                      :image="employee.featured_image[getImageSize('tablet')]"
                      :name="employee.post_title"
                      :title="employee.custom_fields.title"
                      :phone="employee.custom_fields.phone"
                      :mail="employee.custom_fields['e-post']"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else>
            <div class="row justify-content-center">
              <div
                v-for="(employee, index) in employeeSection.employees"
                :key="index"
                :id="employee.post_title"
                class="col-md-3"
              >
                <BasePostEmployee
                  :id="employee.post_name"
                  :image="employee.featured_image[getImageSize('tablet')]"
                  :name="employee.post_title"
                  :title="employee.custom_fields.title"
                  :phone="employee.custom_fields.phone"
                  :mail="employee.custom_fields['e-post']"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="list container">
      <div class="row">
        <div
          v-for="(employee, index) in employees"
          :key="index"
          :id="employee.post_title"
          class="col-md-3"
        >
          <BasePostEmployee
            :id="employee.post_name"
            :image="employee.featured_image[getImageSize('tablet')]"
            :name="employee.post_title"
            :title="employee.custom_fields.title"
            :phone="employee.custom_fields.phone"
            :mail="employee.custom_fields['e-post']"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BasePostEmployee: () => import('~/components/BasePostEmployee.vue')
  },
  props: {
    employees: {
      type: [Object, Array]
    },
    groupItems: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    employeesSortedByArea () {
      const res = []
      const employees = this.employees

      const employeesSorted = [
        'administration',
        'utbildningsledare',
        'affarsutveckling',
        'marknad',
        'hr',
        'inkop-och-ekonomi',
        'antagning',
        'urmakarskolan',
        'ledning'
      ]

      Object.keys(employees).forEach((item) => {
        if (!employeesSorted.includes(item)) {
          employeesSorted.push(item)
        }
      })

      // Går inte att skapa nya områden pga ovan

      employeesSorted.forEach((key) => {
        let valid = false

        if (employees[key]) {
          if (!employees[key].area && employees[key].employees.length > 0) {
            valid = true
          }

          if (employees[key].area) {
            Object.keys(employees[key].area).forEach((item) => {
              if (employees[key].area[item].employees.length) {
                valid = true
              }
            })
          }
        }

        if (valid) {
          res.push(employees[key])
        }
      })

      return res
    }
  },
  mounted () {
    const hash = window.location.hash

    console.log(hash)

    if (hash !== '') {
      setTimeout(function () {
        window.location.href = hash
      }, 500)
    }
  }
}
</script>
<style lang="scss">
.archive-employee-wrapper {
  .header-title-wrapper {
    margin-bottom: 3.8rem;
  }
}
</style>
