<template>
  <div class="post-course-wrapper">
    <nuxt-link
      :is="!isGroup ? 'nuxt-link' : 'a'"
      :to="permalink"
      @click="openModal()"
    >
      <div class="background-image-wrapper">
        <client-only>
          <div
            v-lazy:background-image="
              image
            "
            class="background-image"
          />
        </client-only>
        <BaseTags :tags="formatUpperTags" class="upper" variant="dark" />
        <BaseTags :tags="formatTags" class="lower" variant="light" />
      </div>
      <h5 class="font-weight-bold">
        {{ title }}
      </h5>
      <div v-html="content" class="content" />
    </nuxt-link>

    <b-modal
      :id="'modal-post-course-' + isGroup"
      :title="title + ' finns på flera orter. Vilken är det du söker?'"

      hide-footer
      size="xl"
    >
      <div class="row course-modal ">
        <div v-for="sibling in siblings" :key="sibling.url" class="col-12 col-sm-6 mt-3">
          <b-button
            :to="sibling.url"
            v-html="sibling.title"
            block
            variant="primary"
          />
          <label v-if="sibling.can_apply || getPeriod(sibling.post_taxs.programme_course_period)" class="text-center mt-2 d-block">
            <span v-if="getPeriod(sibling.post_taxs.programme_course_period)">{{ getPeriod(sibling.post_taxs.programme_course_period) }}</span>
            <span v-if="sibling.can_apply && getPeriod(sibling.post_taxs.programme_course_period)">-</span>
            <span v-if="sibling.can_apply">Ansökan är öppen!</span>
          </label>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
export default {
  components: {
    BaseTags: () => import('~/components/BaseTags.vue')
  },
  props: {
    title: {
      type: String
    },
    image: {
      type: String,
      default: ''
    },
    content: {
      type: String
    },
    upperTags: {
      type: Array
    },
    tags: {
      type: Array
    },
    yh: {
      type: Boolean,
      default: false
    },
    isGroup: {
      type: [Boolean, String],
      default: false
    },
    siblings: {
      type: [Boolean, Array],
      default: false
    },
    permalink: {
      type: String,
      default: '#'
    }
  },
  data () {
    return {
      loadModal: false,
      categoryIcons: {
        'ekonomi-administration-forsaljning': 'book-open',
        'bygg-anlaggning-fastighet': 'jackhammer',
        'data-it': 'processor',
        'hotell-restaurang-turism': 'thumbs-up',
        'teknik-tillverkning-drift-underhall': 'cog',
        'halso-sjukvard-socialt-arbete': 'medical-square'
      }
    }
  },
  computed: {
    formatUpperTags () {
      const res = []

      return res
    },
    formatTags () {
      const speed = false
      const category = false
      const distance = false
      const area = false
      const yh = false
      const form = []
      // const forminner = false

      /*       this.tags.forEach((cat) => {
        //        if (cat.category === 'programme_course_form' && !form) {
        if (cat.category === 'programme_course_form') {
          let icon = 'books'

          icon = (cat.value === 'distans') ? 'clock-three' : icon
          icon = (cat.value === 'webb') ? 'desktop' : icon
          icon = (cat.value === 'platsbunden') ? 'building' : icon
          icon = (cat.value === 'kombinerad') ? 'file-plus' : icon

          forminner = {
            icon,
            name: cat.name,
            category: cat.category,
            value: cat.value
          }
          form.push(forminner)
        }
        if (cat.category === 'programme_course_speed' && !speed) {
          speed = {
            icon: 'clock',
            name: cat.name,
            category: cat.category,
            value: cat.value
          }
        }

        if (cat.category === 'programme_course_category' && !category) {
          category = {
            icon: 'bright',
            name: cat.name,
            category: cat.category,
            value: cat.value
          }
        }

        if (
          cat.category === 'programme_course_area' &&
          cat.value !== 'distans' &&
          !area
        ) {
          area = {
            icon: 'location-pin',
            name: cat.name,
            category: cat.category,
            value: cat.value
          }
        }

        if (
          cat.category === 'programme_course_area' &&
          cat.value === 'distans' &&
          !distance
        ) {
          distance = {
            icon: 'books',
            name: cat.name,
            category: cat.category,
            value: cat.value
          }
        }
      }) */

      /*       if (this.yh) {
        yh = {
          icon: 'graduation-cap',
          name: 'YH-Utbildning',
          value: 'yh-utbildning'
        }
      }
 */
      // speed
      // Kategori
      // Distans
      // Ort
      // YH-Utbildning

      return [speed, category, distance, area, yh].concat(form)
    }
  },
  methods: {
    openModal () {
      this.$root.$emit('bv::show::modal', 'modal-post-course-' + this.isGroup)
      // this.$bvModal.show('modal-post-course-' + this.isGroup)
    },
    getPeriod (tax) {
      if (tax && tax[0]) {
        return tax[0].name
      } else {
        return false
      }
    }
  }
}
</script>
<style lang="scss">
.post-course-wrapper {
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin-bottom: 2vmin;

  a {
    text-decoration: none;
  }

  h5 {
    color: $dark;
    transition: 0.4s ease-in-out;
  }

  .content {
    transition: 0.4s ease-in-out;
    color: #888988;
  }

  .background-image-wrapper {
    position: relative;

    .background-image {
      transition: 0.4s ease-in-out;
      padding-top: 126%;
      background-size: cover;
      background-position: center;
    }

    .tags-wrapper {
      z-index: 10;
      position: absolute;

      &.upper {
        top: 0.5rem;
        right: 0.5rem;
      }

      &.lower {
        bottom: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
      }
    }
  }

  &:hover {
    h5,
    .content {
      color: $primary;
      text-decoration: none;
    }

    .background-image {
      opacity: 0.5;
    }
  }
}

.course-modal {
  .btn {
    .badge {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, 50%);
    }
  }
}

</style>
