<template>
  <div class="eduadmin-course-archive-wrapper">
    <div>
      {{ eduToken }}<br><br><br><br><br>
      {{ EventsFiltered }}<br><br><br><br><br>
      {{ CourseTemplatesFiltered }}<br><br><br><br><br>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    Events: [],
    EventsFiltered: [],
    CourseTemplates: [],
    CourseTemplatesFiltered: []
  }),
  computed: {
    eduToken () {
      return this.$store.getters['bearerToken/getToken'].tokenid
    }
  },
  async fetch () {
    this.$http.setHeader('Content-Type', 'application/json')
    this.$http.setToken(this.eduToken, 'Bearer')
    this.Events = await this.$http.$get('https://api.eduadmin.se/v1/odata/Events')
    this.CourseTemplates = await this.$http.$get('https://api.eduadmin.se/v1/odata/CourseTemplates')
  },
  fetchOnServer: true,
  mounted () {
    const RecivedEvents = this.Events.value
    RecivedEvents.forEach((Event) => {
      console.log(Event)
      this.EventsFiltered.push(Event)
    })

    const RecivedCourseTemplates = this.CourseTemplates.value
    RecivedCourseTemplates.forEach((CourseTemplate) => {
      console.log(CourseTemplate)
      this.CourseTemplatesFiltered.push(CourseTemplate)
    })
  }
}
</script>
<style lang="scss">

.eduedmin-course-archive-wrapper {

}
</style>
