<template>
  <div id="utbildningsledare" class="pagebuilder-course-responsible-wrapper">
    <BaseCtaEmployee
      v-if="data.responsible"
      :employee="data.responsible"
      :title="data.title"
      :sub-title="data.sub_title"
      :text="data.text"
      icon="question-circle"
    />
  </div>
</template>
<script>
export default {
  components: {
    BaseCtaEmployee: () => import('~/components/BaseCtaEmployee.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  .pagebuilder-course-responsible-wrapper {

  }

</style>
