<template>
  <div class="pagebuilder-product-cards-wrapper">
    <BaseBlockWrapper
      :title="data.title"
      :sub-title="data.sub_title"
      :content="data.content"
      :button-options="{
        type: data.link_or_button,
        link: data.link,
        buttonsLabel: data.label,
        buttons: data.buttons
      }"
      :alignment="data.text_pos"
    >
      <div class="row">
        <div v-for="(card, i) in data.cards" :key="i" :class="['col-12 col-md-6 mb-4',{'col-xl-3' : data.cards.length > 2 }]">
          <div :class="['card-wrapper p-4', 'border-' + data.card_border_color, 'bg-' + data.card_background_color, {'bg': data.card_background_color !== 'transparent'}]">
            <div class="background-image-wrapper">
              <div
                ref="image"
                v-lazy:background-image="card.image.sizes[getImageSize('tablet')]"
                :class="['background-image', {'thin' : data.cards.length <= 2}]"
              />
            </div>
            <h3 ref="title" v-if="card.title">
              {{ card.title }}
            </h3>

            <div ref="content" v-html="card.content" :class="['card-content', 'margin-' + ((card.link || card.buttons)? card.link_or_button :'')]" />

            <BaseButtons
              ref="buttons"
              v-if="card.link || card.buttons"
              :type="card.link_or_button"
              :link="card.link"
              :label="card.label"
              :buttons="addVariantToButtons(card.buttons)"
            />
          </div>
        </div>
      </div>
    </BaseBlockWrapper>
  </div>
</template>
<script>
export default {
  components: {
    BaseBlockWrapper: () => import('~/components/BaseBlockWrapper.vue'),
    BaseButtons: () => import('~/components/BaseButtons.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  .pagebuilder-product-cards-wrapper {

    .card-wrapper {
      height: 100%;
      border: 2px solid transparent;
      position: relative;

      &.bg {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      }

      &.bg-gradient{
        background-image: $primary-gradient;
        color: $white;
      }

      &.bg-gradient, &.bg-primary{

        .buttons-wrapper {
          a:not(.btn) {
            color: $white !important;

            svg {
              fill: $white;
            }
          }
        }
      }
    }

    .card-content {

      &.margin-button{
        margin-bottom: 7rem;
      }

      &.margin-link{
        margin-bottom: 3rem;
      }

    }

    .buttons-wrapper {
      position: absolute;
      bottom: 1.5rem;
      left: 1.5rem;
      right: 1.5rem;
    }

    .background-image-wrapper{
      width: 150px;
      margin: 0 auto;
      max-width: 100%;
    }

    .background-image {
      padding-top: 100%;
      background-size: cover;
      background-position: center center;
      //  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

      &.thin {
        padding-top: 50%;
      }
    }
  }

</style>
