<template>
  <div class="pagebuilder-featured-course-wrapper">
    <div class="container">
      <div class="title-wrapper">
        <div class="row">
          <div class="col-12">
            <h1 class="mt-5 mb-4">
              {{ data.title }}
            </h1>
          </div>
        </div>
      </div>
      <div v-if="loading">
        <div
          :style="{ transform: 'translateX(' + translate + '%)' }"
          class="row no-wrap"
        >
          <div v-for="featuredPost in featuredPosts" :key="featuredPost.post_name" class="col-12 col-sm-4 col-lg-3">
            <BasePostCourse
              :title="featuredPost.post_title"
              :image="featuredPost.featured_image"
              :image-pos="featuredPost.custom_fields.img_pos"
              :content="featuredPost.post_excerpt"
              :upper-tags="
                  formatCategories([featuredPost.post_taxs.programme_course_internship])
                "
              :tags="
                  formatCategories([
                    featuredPost.post_taxs.programme_course_category,
                    featuredPost.post_taxs.programme_course_speed,
                    featuredPost.post_taxs.programme_course_form,
                    formatLocations(
                      featuredPost.post_taxs.programme_course_area,
                      featuredPost.custom_fields.group_course
                    ),
                  ])
                "
              :yh="
                  featuredPost.custom_fields ? featuredPost.custom_fields['yh-course'] : false
                "
              :isGroup="
                  featuredPost.custom_fields.group_course ? featuredPost.groupName : false
                "
              :siblings="featuredPost.siblings"
              :permalink="featuredPost.permalink"
            />
          </div>
        </div>
      </div>
      <BaseLoading v-else />
      <div v-if="totalPages > 0" class="nav-wrapper">
        <div @click="prevPage()" class="prev-wrapper">
          <b-button variant="light">
            <svg-icon name="arrow-down-left" />
          </b-button>
        </div>
        <ul class="slide-wrapper list-inline">
          <li
            :class="['list-inline-item', { active: currentPage >= page }]"
            v-for="page in range(0, totalPages)"
            :key="page"
            @click="setPage(page)"
          />
        </ul>
        <div @click="nextPage()" class="next-wrapper">
          <b-button variant="light">
            <svg-icon name="arrow-down-right" />
          </b-button>
        </div>
        <div class="all-wrapper">
          <nuxt-link :to="typeUrl" class="description">
            Se alla {{ typeNiceName }}
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BasePostCourse: () => import('~/components/BasePostCourse.vue'),
    BaseLoading: () => import('~/components/BaseLoading.vue')
  },
  props: {
    data: {
      type: Object
    }
  },
  data () {
    return {
      currentPage: 0
    }
  },

  computed: {
    translate () {
      return -100 * this.currentPage
    },

    totalPages () {
      let cardsPerPage = 4

      if (this.isTablet()) {
        cardsPerPage = 3
      }

      if (this.isMobile()) {
        cardsPerPage = 1
      }

      const res = this.featuredPosts.length / cardsPerPage

      return Math.ceil(res) - 1
    },

    typeNiceName () {
      let res = ''

      const options = this.data.show_options

      if (options.includes('programme') && options.includes('course')) {
        res = 'utbildningar'
      } else if (options.includes('programme')) {
        res = 'YH-utbildningar'
      } else if (options.includes('course')) {
        res = 'kurser'
      }

      return res
    },

    typeUrl () {
      let res = '#'

      const options = this.data.show_options

      if (options.includes('programme') && options.includes('course')) {
        res = '/utbildning/'
      } else if (options.includes('programme')) {
        res = '/utbildning/yh-utbildningar/'
      } else if (options.includes('course')) {
        res = '/vara-tjanster/fardiga-kurser/'
      }

      return res
    },

    loading () {
      let res = false

      if (this.courses) {
        res = true
      }

      if (this.programmes) {
        res = true
      }

      return res
    },

    featuredPosts () {
      let res = []
      const options = this.data.show_options

      let items = []

      if (this.programmes && options.includes('programme')) {
        items = items.concat(this.programmes)
      }

      if (this.courses && options.includes('course')) {
        items = items.concat(this.courses)
      }

      const itemGroups = this.getCourseGroups(items)

      items.forEach((item) => {
        if (item.custom_fields.featured) {
          if (item.custom_fields.group_course) {
            if (item.custom_fields.show_in_archive) {
              // Only show 1 in group
              const group = this.getGroupName(
                item.post_name,
                item.post_taxs.programme_course_area
              )

              const temp = Object.assign(
                { groupName: group, siblings: itemGroups[group] },
                item
              )

              res.push(temp)
            }
          } else {
            res.push(item)
          }
        }
      })

      if (res.length > 0) {
        res = res.sort((a, b) =>
          a.post_title > b.post_title ? 1 : b.post_title > a.post_title ? -1 : 0
        )

        res = res.sort((a, b) =>
          a.custom_fields.featured_priority < b.custom_fields.featured_priority ? 1 : b.custom_fields.featured_priority < a.custom_fields.featured_priority ? -1 : 0
        )
      }

      return res
    },
    programmes () {
      return this.$store.state.cpt.programme
    },
    courses () {
      return this.$store.state.cpt.course
    }
  },
  mounted () {
    const options = this.data.show_options

    if (!this.$store.state.cpt.programme && options.includes('programme')) {
      this.$store.dispatch({ type: 'getCpt', postType: 'programme' })
    }

    if (!this.$store.state.cpt.course && options.includes('course')) {
      this.$store.dispatch({ type: 'getCpt', postType: 'course' })
    }
  },
  methods: {

    setPage (page) {
      this.currentPage = page
    },

    nextPage () {
      if (this.currentPage === this.totalPages) {
        this.currentPage = 0
      } else if (this.currentPage < this.totalPages) {
        this.currentPage++
      }
    },
    prevPage () {
      if (this.currentPage === 0) {
        this.currentPage = this.totalPages
      } else if (this.currentPage > 0) {
        this.currentPage--
      }
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-featured-course-wrapper {
  overflow: hidden;

  >.container {
    overflow: hidden;
  }

  .title-wrapper {
    h1 {
      //max-width:740px;

    }
  }

  .no-wrap {
    flex-wrap: nowrap;
  }

  .nav-wrapper {
    margin-top: 5.1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    @media (max-width: 767.98px) {
      display: block;
    }

    .prev-wrapper svg {
      transform: rotate(45deg);
      fill: $dark;
    }

    .next-wrapper svg {
      transform: rotate(-45deg);
      fill: $dark;
    }

    @media (max-width: 767.98px) {
      .prev-wrapper {
        display: inline-block;
        width: 49%;
      }

      .next-wrapper {
        display: inline-block;
        width: 49%;
      }

      .next-wrapper .btn, .prev-wrapper .btn {
        display: block;
        width: 100%;
      }
    }

    .slide-wrapper {
      margin: 0 1rem;

      @media (max-width: 767.98px) {
        display: none;
      }

      .list-inline-item {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $black-25;

        &.active {
          background-color: $primary;
        }
      }
    }

    .all-wrapper {
      margin-left: 2rem;
      //min-width: 375px;

      @media (max-width: 767.98px) {
        margin-left: 0;
        margin-top: 2.5rem;
      }

      a {
        font-weight: 700;
        color: $dark;
      }
    }
  }
}
</style>
