<template>
  <div class="pagebuilder-archive-wrapper">
    <BaseBlockWrapper
      :title="data.title"
      :sub-title="data.sub_title"
      :content="data.content"
      :button-options="{
        type: data.link_or_button,
        link: data.link,
        buttonsLabel: data.label,
        buttons: data.buttons
      }"
      :alignment="data.text_pos"
    >
      <div class="row">
        <div
          :key="course.ID"
          v-for="course in data.location"
          class="col-12 col-sm-3"
        >
          <BasePostLocation
            :title="course.post_title"
            :image="course.featured_image[getImageSize('mobile')]"
            :url="course.permalink"
          />
        </div>
      </div>
    </BaseBlockWrapper>
  </div>
</template>
<script>
export default {
  components: {
    BaseBlockWrapper: () => import('~/components/BaseBlockWrapper.vue'),
    BasePostLocation: () => import('~/components/BasePostLocation.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-archive-wrapper {
  background: $light-grey-50;
}
</style>
