<template>
  <div class="pagebuilder-usp-wrapper">
    <div class="container">
      <div class="pagebuilder-usp-inner">
        <div class="row">
          <div :class="['col-12', {'col-lg-9': data.usps.length !== 3 && 1 === 2}]">
            <div class="row gutter justify-content-center">
              <div
                v-for="usp in data.usps"
                :class="['col-12', {'col-md-6': data.usps.length !== 3}, {'col-md-4': data.usps.length === 3}]"
              >
                <BaseUsp :icon="(usp.icon)? usp.icon.title : false" :title="usp.title" :content="usp.content" :url="usp.url" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseUsp: () => import('~/components/BaseUsp.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  .pagebuilder-usp-wrapper {
    //margin-bottom: -3rem;

    .pagebuilder-usp-inner {
      padding-left: 4vmin !important;
      padding-right: 4vmin !important;
    }

    .gutter {
      margin: 0 -2rem;

      >* {
        padding: 0 2rem;
      }
    }

    .usp-wrapper {
      margin-bottom: 4rem;
    }
  }

</style>
