<template>
  <div class="pagebuilder-archive-wrapper">
    <BaseBlockWrapper
      :title="data.title"
      :sub-title="data.sub_title"
      :content="data.content"
      :button-options="{
        type: data.link_or_button,
        link: data.link,
        buttonsLabel: data.label,
        buttons: data.buttons
      }"
      :alignment="data.text_pos"
    >
      <div class="row justify-content-center">
        <div
          :key="post.ID"
          v-for="post in data.posts"
          class="col-12 col-sm-4 slot-item"
        >
          <BasePost
            :title="post.post_title"
            :content="post.post_excerpt"
            :image=" post.featured_image "
            :url="post.permalink"
            :image-pos="post.custom_fields.img_pos"
          />
        </div>
      </div>
    </BaseBlockWrapper>
  </div>
</template>
<script>
export default {
  components: {
    BaseBlockWrapper: () => import('~/components/BaseBlockWrapper.vue'),
    BasePost: () => import('~/components/BasePost.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-archive-wrapper {
  padding-bottom: 2vmin;
}
</style>
