<template>
  <div class="pagebuilder-contact-wrapper bg-light-grey-25">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="title-wrapper">
            <h2 v-html="data.title" class="h1" />
            <img
              :src="
                data.icon && data.icon.sizes
                  ? data.icon.sizes[getImageSize('max')]
                  : false
              "
            >
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <BaseContactform :id="data.cf7_id" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseContactform: () => import('~/components/BaseContactform.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-contact-wrapper {
  .cf-wrapper {
    margin: 4.5rem 0;
  }

  .title-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: -5%;
      height: auto;
      width: 90%;
      transform: translateY(-50%);
      opacity: 0.1;
    }
    h2 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &.bg-light-grey-25 {
    margin-top: 5vmin;
  }
}
</style>
