<template>
  <div class="pagebuilder-archive-wrapper">
    <BaseBlockWrapper
      :title="data.title"
      :sub-title="data.sub_title"
      :content="data.content"
      :button-options="{
        type: data.link_or_button,
        link: data.link,
        buttonsLabel: data.label,
        buttons: data.buttons
      }"
      :alignment="data.text_pos"
    >
      <div class="row justify-content-center">
        <div
          :key="post.ID"
          v-for="post in postFilterd"
          class="col-12 col-sm-3 slot-item mb-5"
        >
          <BasePostPost
            :title="post.post_title"
            :content="post.post_excerpt"
            :date=" post.post_date"
            :url="post.permalink"
          />
        </div>
      </div>
    </BaseBlockWrapper>
  </div>
</template>
<script>
export default {
  components: {
    BaseBlockWrapper: () => import('~/components/BaseBlockWrapper.vue'),
    BasePostPost: () => import('~/components/BasePostPost.vue')
  },
  props: {
    data: {
      type: Object
    }
  },
  computed: {
    postFilterd () {
      // Setup
      const res = []
      const activeCategory = this.data.post_category

      if (activeCategory) {
        this.posts.forEach((post) => {
          let valid = false

          if (post.post_taxs.category) {
            post.post_taxs.category.forEach((cat) => {
              activeCategory.forEach((activeCat) => {
                if (cat.slug === activeCat.slug) {
                  valid = true
                }
              })
            })
          }

          if (valid) {
            res.push(post)
          }
        })
      }

      // return
      return res.sort((a, b) => (a.post_date < b.post_date) ? 1 : ((b.post_date < a.post_date) ? -1 : 0)).slice(0, 4)
    },

    posts () {
      return this.$store.state.cpt.post || []
    }
  },
  mounted () {
    if (!this.$store.state.cpt.post) {
      this.$store.dispatch({ type: 'getCpt', postType: 'post' })
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-archive-wrapper {
}
</style>
