<template>
  <div class="pagebuilder-course-media-wrapper">
    <div v-if="data.video && data.video !== ''" class="container">
      <BaseIframe :string="data.video" />
    </div>
    <PagebuilderGallery v-if="data.images.gallery && data.images.gallery.length > 0" :data="data.images" />
  </div>
</template>
<script>
export default {
  components: {
    PagebuilderGallery: () => import('~/components/PagebuilderGallery.vue'),
    BaseIframe: () => import('~/components/BaseIframe.vue')
  },
  props: {
    data: {
      type: Object
    }
  },
  data () {
    return {
      colTranslations: {
        2: 'col-md-6',
        3: 'col-md-4',
        4: 'col-md-3',
        6: 'col-md-2'
      }
    }
  }
}
</script>
<style lang="scss">
  .pagebuilder-course-media-wrapper {
    width: 100%;
  }
</style>
