<template>
  <div class="pagebuilder-gallery-wrapper">
    <BaseGallery v-if="data.gallery && data.show_type === 'gallery'" :images="data.gallery" :background="data.background_color" :cols="(data.gallery.length > 1) ? colTranslations[data.img_row] : ''" />

    <BaseCarousel v-if="data.gallery && data.show_type === 'carousel'" :images="data.gallery" :background="data.background_color" />
  </div>
</template>
<script>
export default {
  components: {
    BaseGallery: () => import('~/components/BaseGallery.vue'),
    BaseCarousel: () => import('~/components/BaseCarousel.vue')
  },
  props: {
    data: {
      type: Object
    }
  },
  data () {
    return {
      colTranslations: {
        2: 'col-md-6',
        3: 'col-md-4',
        4: 'col-md-3',
        6: 'col-md-2'
      }
    }
  }
}
</script>
<style lang="scss">
  .pagebuilder-gallery-wrapper {

  }
</style>
