<template>
  <div class="pagebuilder-apply-wrapper">
    <BaseApply :title="data.apply_options.title" :content="data.apply_options.content" :button="(data.apply_options.button !== '')? data.apply_options.button : false" :active="data.apply" />
  </div>
</template>
<script>
export default {
  components: {
    BaseApply: () => import('~/components/BaseApply.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  .pagebuilder-apply-wrapper {

  }

</style>
