<template>
  <div class="pagebuilder-cta-wrapper">
    <BaseCta
      :youtube="(data.youtube_id !== '')? data.youtube_id : false"
      :image="data.image.sizes"
      :image-attr="data.image.custom_fields"
      :text-pos="data.text_pos"
      :sub-title="data.sub_title"
      :title="data.title"
      :content="data.content"
      :button-options="{
        type: data.link_or_button,
        link: data.link,
        buttonsLabel: data.label,
        buttons: data.buttons
      }"
    />
  </div>
</template>
<script>
export default {
  components: {
    BaseCta: () => import('~/components/BaseCta.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  /* Core styles */
  .pagebuilder-cta-wrapper {

  }

  /* Project styles */

  .pagebuilder-cta-wrapper {

  }
</style>
