<template>
  <div class="pagebuilder-maps-wrapper">
    <BaseMaps :long="data.cords.long" :lat="data.cords.lat" :zoom="data.cords.zoom" />
  </div>
</template>
<script>
export default {
  components: {
    BaseMaps: () => import('~/components/BaseMaps.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  /* Core styles */
  .pagebuilder-maps-wrapper {

  }

  /* Project styles */

  .pagebuilder-maps-wrapper {

  }
</style>
