<template>
  <div class="pagebuilder-featured-alumni-wrapper">
    <BaseCta
      :youtube="(data.alumni.custom_fields.youtube_id !== '')? data.alumni.custom_fields.youtube_id : false"
      :image="data.alumni.featured_image"
      :text-pos="data.alumni.custom_fields.text_pos"
      :sub-title="data.alumni.custom_fields.sub_title"
      :title="data.alumni.post_title"
      :content="data.alumni.custom_fields.content"

      :button-options="{
        type: 'button',

        buttonsLabel: data.alumni.custom_fields.label,
        buttons: data.alumni.custom_fields.buttons
      }"
    />
  </div>
</template>
<script>
export default {
  components: {
    BaseCta: () => import('~/components/BaseCta.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  .pagebuilder-featured-alumni-wrapper {

  }
</style>
