<template>
  <div :class="['pagebuilder-content-usp-wrapper']">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-8">
          <BaseContent
            v-if="content"
            :content="content.content"
            :background="content.background_color"
            :button-options="{
              type: content.link_or_button,
              link: content.link,
              buttonsLabel: content.label,
              buttons: content.buttons,
            }"
          />
        </div>
        <div class="col-12 col-lg-4 my-3">
          <BaseUsp v-if="usp" :icon="(usp.icon)? usp.icon.title : false" :title="usp.title" :content="usp.content" :url="usp.url" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseContent: () => import('~/components/BaseContent.vue'),
    BaseUsp: () => import('~/components/BaseUsp.vue')
  },
  props: {
    data: {
      type: Object
    }
  },
  computed: {
    content () {
      return this.data.content
    },
    usp () {
      return this.data.usp
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-content-usp-wrapper {
  .row {
    margin: 0 -1.5rem;

    >* {
      padding: 0 1.5rem;
    }
  }
}
</style>
