<template>
  <div class="pagebuilder-course-summary-wrapper">
    <div class="container">
      <div class="pagebuilder-course-summary-inner">
        <div class="header">
          <h4 class="font-weight-bold">
            {{ currentPage.post_title }} - Sammanfattning
          </h4>
        </div>
        <div class="main">
          <div class="tags d-none d-md-block">
            <BaseTags :tags="secoundaryTags" variant="dark" />
          </div>

          <client-only>
            <b-tabs>
              <b-tab v-if="data.info.length > 0" :title="tabTitles.facts" active>
                <div class="row">
                  <div
                    v-for="infoChunk in data.info"
                    :class="[
                      'col-12 mb-4',
                      {
                        'col-md-6':
                          data.facts_cols === '2' && data.facts_cols > '1',
                      },
                      { 'col-lg-4': data.facts_cols === '3' },
                      { 'col-lg-3': data.facts_cols === '4' },
                    ]"
                  >
                    <label v-html="infoChunk.title" class="p" />
                    <p v-html="forceTargetBlank(infoChunk.info)" />
                  </div>
                  <div
                    v-if="data.other_info !== ''"
                    :class="[
                      'col-12 mb-5',
                      {
                        'col-md-6':
                          data.facts_cols === '2' && data.facts_cols > '1',
                      },
                      { 'col-lg-4': data.facts_cols === '3' },
                      { 'col-lg-3': data.facts_cols === '4' },
                    ]"
                  >
                    <div v-html="data.other_info" class="content" />
                  </div>
                </div>
              </b-tab>
              <b-tab v-if="data.competence_list.length > 0" :title="tabTitles.competence">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div
                        v-for="infoChunk in data.competence_list"
                        class="col-12 mb-4"
                      >
                        <label v-html="infoChunk.title" class="p" />
                        <p v-html="forceTargetBlank(infoChunk.info)" />
                      </div>
                    </div>
                  </div>
                </div>
              </b-tab>
              <b-tab v-if="data.course_list.length > 0" :title="tabTitles.courses">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div
                        v-for="infoChunk in data.course_list"
                        class="col-md-12 mb-4"
                      >
                        <label v-html="infoChunk.title" class="p" />
                        <p v-html="forceTargetBlank(infoChunk.course_content)" />
                      </div>
                    </div>
                  </div>
                </div>
              </b-tab>
              <b-tab
                v-if="
                  data.collaborators.length > 0 ||
                    data.partners_content.length > 0
                "
                :title="tabTitles.partners"
              >
                <div class="partners-wrapper">
                  <div
                    v-if="data.partners_content && data.partners_content !== ''"
                    v-html="data.partners_content"
                    class="content mt-2 mb-3"
                  />

                  <div class="row">
                    <div class="col-12">
                      <div class="row justify-content-start">
                        <div
                          v-for="infoChunk in data.collaborators"
                          class="col-6 col-sm-3"
                        >
                          <a :href="infoChunk.link" target="_blank">
                            <img
                              v-lazy="
                                (infoChunk.logotype) ? infoChunk.logotype.sizes[getImageSize('mobile')] : null
                              "
                              class="img-fluid"
                            >
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </b-tab>
            </b-tabs>
          </client-only>

          <div class="logo-wrapper">
            <div class="logo-inner">
              <img
                v-if="currentPage.custom_fields['yh-course']"
                v-lazy="'/myh-logotyp.png'"
                class="img-fluid"
              >

              <div class="tags-m mt-2 d-block d-md-none">
                <BaseTags :tags="secoundaryTags" variant="dark" />
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="row">
            <div class="col-12 col-sm-7">
              <BaseTags :tags="primaryTags" variant="light" />
            </div>
            <div
              v-if="responsible"
              class="col-12 col-sm-5 text-right responsible"
            >
              <a
                href="#utbildningsledare"
              >Kontaktperson: {{ responsible.post_title }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseTags: () => import('~/components/BaseTags.vue')
  },
  props: {
    data: {
      type: Object
    },
    currentPage: {
      type: Object
    }
  },
  computed: {
    tabTitles () {
      const res = {
        facts: 'Fakta',
        competence: 'Pris',
        courses: 'Innehåll',
        partners: 'Samarbetspartners'
      }

      return res
    },
    currentCourseTypes () {
      const res = []
      const taxs = this.currentPage.post_taxs

      if (taxs && taxs.course_type) {
        taxs.course_type.forEach((type) => {
          res.push(type.slug)
        })
      }

      return res
    },
    primaryTags () {
      let speed = false
      let category = false
      let distance = false
      let area = false

      Object.keys(this.currentPage.post_taxs).forEach((key) => {
        const cat = this.currentPage.post_taxs[key]

        if (cat) {
          cat.forEach((catItem) => {
            if (catItem.taxonomy === 'programme_course_speed' && !speed) {
              speed = {
                icon: 'clock',
                name: catItem.name,
                category: catItem.taxonomy,
                value: catItem.slug
              }
            }

            if (catItem.taxonomy === 'programme_course_category' && !category) {
              category = {
                icon: 'bright',
                name: catItem.name,
                category: catItem.taxonomy,
                value: catItem.slug
              }
            }

            if (
              catItem.taxonomy === 'programme_course_area' &&
              catItem.value !== 'distans' &&
              !area
            ) {
              area = {
                icon: 'location-pin',
                name: catItem.name,
                category: catItem.taxonomy,
                value: catItem.slug
              }
            }

            if (
              catItem.taxonomy === 'programme_course_area' &&
              catItem.value === 'distans' &&
              !distance
            ) {
              distance = {
                icon: 'books',
                name: catItem.name,
                category: catItem.taxonomy,
                value: catItem.slug
              }
            }
          })
        }
      })

      // speed
      // Kategori
      // Distans
      // Ort

      return [speed, category, distance, area]
    },
    secoundaryTags () {
      let internship = false
      let meets = false

      Object.keys(this.currentPage.post_taxs).forEach((key) => {
        const cat = this.currentPage.post_taxs[key]

        const links = {
          programme_course_internship: '/studera-pa-tuc/lia/',
          programme_course_meets: '/utbildning/studera-pa-tuc/distansstudier/'
        }

        if (cat) {
          cat.forEach((catItem) => {
            if (
              catItem.taxonomy === 'programme_course_internship' &&
              !internship
            ) {
              internship = {
                name: 'Praktik ' + catItem.name,
                category: catItem.taxonomy,
                value: catItem.slug,
                url: links[catItem.taxonomy] ? links[catItem.taxonomy] : false
              }
            }

            if (
              catItem.taxonomy === 'programme_course_meets' &&
              !meets
            ) {
              meets = {
                name: catItem.name + ' träffar',
                category: catItem.taxonomy,
                value: catItem.slug,
                url: links[catItem.taxonomy] ? links[catItem.taxonomy] : false
              }
            }
          })
        }
      })

      return [meets, internship]
    },
    responsible () {
      let res = false

      this.currentPage.custom_fields.pagebuilder.forEach((block) => {
        if (block.acf_fc_layout === 'responsible') {
          res = block
        }
      })

      return res.responsible
    }
  },
  methods: {
    forceTargetBlank (string) {
      return string.replace(/<a /g, '<a target="_blank" ')
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-course-summary-wrapper {
  .pagebuilder-course-summary-inner {
    padding: 2.5rem 8rem;
    background-image: $primary-gradient;
    color: #fff;

    @media (max-width: 960px) {
      padding: 2.5rem;
    }

    .content,
    .content * {
      color: #fff;
    }

    .main {
      border-bottom: 1px solid #fff;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      position: relative;
    }

    .tab-content {
      border-top: 1px solid #fff;
      padding-top: 1rem;
      label {
        color: #fff;
        font-weight: 700;
      }
    }

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        color: #fff !important;
        opacity: 0.5;
      }
    }

    .nav-tabs {
      justify-content: flex-start;
      border: none;

      .nav-item {
        .nav-link {
          text-decoration: none;
          color: #fff;
          opacity: 0.5;
          border: none;

          &:hover {
            opacity: 0.9;
            background: none;
            color: $white !important;
          }

          &.active {
            opacity: 1;
            background: none;
          }

          a {
            padding: 0;
            text-decoration: none;
          }
        }
      }
    }
  }

  .tags {
    position: absolute;
    top: 1.3em;
    right: 0;

    .badge {
    }
  }

  .logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .logo-inner {

    }

      img {

      }

  }

  .partners-wrapper {
    img {
      background: $white;
      width: 100%;
      height: 150px;
      object-fit: contain;
      object-position: center;
      margin-bottom: 0.5rem;

      @media (max-width: 1440px) {
        height: 75px;
      }
    }
  }

  .footer {
    a {
      @media (max-width: 600px) {
        margin-top: 1rem;
        display: flex;
      }
    }
  }
}
</style>
