<template>
  <div :class="['pagebuilder-content-wrapper']">
    <BaseContent
      :content="data.content"
      :background="data.background_color"
      :button-options="{
        type: data.link_or_button,
        link: data.link,
        buttonsLabel: data.label,
        buttons: data.buttons,
      }"
    />
  </div>
</template>
<script>
export default {
  components: {
    BaseContent: () => import('~/components/BaseContent.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-content-wrapper {
  .iframe-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

}
</style>
