<template>
  <div class="pagebuilder-archive-quote-wrapper">
    <BaseBlockWrapper
      :title="data.title"
      :sub-title="data.sub_title"
      :content="data.content"
      :button-options="{
        type: data.link_or_button,
        link: data.link,
        buttonsLabel: data.label,
        buttons: data.buttons
      }"
      alignment="center"
    >
      <div class="row justify-content-around">
        <div :key="quote.ID" v-for="quote in data.quote" class="col-12 col-sm-5">
          <BasePostQuote :name="quote.post_title" :content="quote.custom_fields.content" :image="quote.featured_image[getImageSize('mobile')]" />
        </div>
      </div>
    </BaseBlockWrapper>
  </div>
</template>
<script>
export default {
  components: {
    BaseBlockWrapper: () => import('~/components/BaseBlockWrapper.vue'),
    BasePostQuote: () => import('~/components/BasePostQuote.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
  .pagebuilder-archive-quote-wrapper {
    background-color: $light-grey-25;
  }

</style>
