<template>
  <div class="pagebuilder-archive-course-wrapper">
    <BaseBlockWrapper
      :title="data.title"
      :sub-title="data.sub_title"
      :content="data.content"
      :button-options="{
        type: data.link_or_button,
        link: data.link,
        buttonsLabel: data.label,
        buttons: data.buttons,
      }"
      :alignment="data.text_pos"
    >
      <div
        :style="{ transform: 'translateX(' + translate + '%)' }"
        :class="['row no-wrap', {'justify-content-center' : totalPages === 0 }]"
      >
        <div
          :key="course.ID"
          v-for="course in coursesFormated"
          class="col-12 col-sm-3 archive-item"
        >
          <BasePostCourse
            :title="course.post_title"
            :image="course.featured_image"
            :image-pos="course.custom_fields.img_pos"
            :content="course.post_excerpt"
            :upper-tags="
              formatCategories([course.post_taxs.programme_course_internship])
            "
            :tags="
              formatCategories([
                course.post_taxs.programme_course_category,
                course.post_taxs.programme_course_speed,
                course.post_taxs.programme_course_form,
                formatLocations(course.post_taxs.programme_course_area),
              ])
            "
            :yh="
              course.custom_fields ? course.custom_fields['yh-course'] : false
            "
            :isGroup="(course.custom_fields.group_course)? course.groupName : false"
            :siblings="course.siblings"
            :permalink="course.permalink"
            aa
          />
        </div>
      </div>
      <div v-if="totalPages > 0" class="nav-wrapper">
        <div @click="prevPage()" class="prev-wrapper">
          <b-button variant="light">
            <svg-icon name="arrow-down-left" />
          </b-button>
        </div>
        <ul class="slide-wrapper list-inline">
          <li
            :class="['list-inline-item', { active: currentPage >= page }]"
            v-for="page in range(0, totalPages)"
            @click="setPage(page)"
          />
        </ul>
        <div @click="nextPage()" class="next-wrapper">
          <b-button variant="light">
            <svg-icon name="arrow-down-right" />
          </b-button>
        </div>
      </div>
    </BaseBlockWrapper>
  </div>
</template>
<script>
export default {
  components: {
    BaseBlockWrapper: () => import('~/components/BaseBlockWrapper.vue'),
    BasePostCourse: () => import('~/components/BasePostCourse.vue')
  },
  props: {
    data: {
      type: Object
    }
  },
  data () {
    return {
      currentPage: 0
    }
  },

  computed: {
    translate () {
      return -100 * this.currentPage
    },

    totalPages () {
      let cardsPerPage = 4

      if (this.isTablet()) {
        cardsPerPage = 3
      }

      if (this.isMobile()) {
        cardsPerPage = 1
      }

      const res = this.coursesFormated.length / cardsPerPage

      return Math.ceil(res) - 1
    },
    coursesFormated () {
      const res = []
      const items = this.data.course
      const groupCourseActive = (this.data.group_course_active === undefined) ? true : this.data.group_course_active

      const itemGroups = this.getCourseGroups(items)

      items.forEach((item) => {
        if (groupCourseActive && item.custom_fields.group_course) {
          if (item.custom_fields.show_in_archive) {
            // Only show 1 in group
            const group = this.getGroupName(
              item.post_name,
              item.post_taxs.programme_course_area
            )

            const temp = Object.assign(
              { groupName: group, siblings: itemGroups[group] },
              item
            )

            res.push(temp)
          }
        } else {
          res.push(item)
        }
      })

      return res.sort((a, b) =>
        a.post_title > b.post_title ? 1 : b.post_title > a.post_title ? -1 : 0
      )
    }
  },
  methods: {

    setPage (page) {
      this.currentPage = page
    },

    nextPage () {
      if (this.currentPage === this.totalPages) {
        this.currentPage = 0
      } else if (this.currentPage < this.totalPages) {
        this.currentPage++
      }
    },
    prevPage () {
      if (this.currentPage === 0) {
        this.currentPage = this.totalPages
      } else if (this.currentPage > 0) {
        this.currentPage--
      }
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-archive-course-wrapper {

  background-color: $light-grey-25;
  .archive-item {
    @media (max-width: 575.98px) {
      margin-bottom: 4rem;
    }
  }

  .slot-wrapper {
    overflow: hidden;
  }

  .no-wrap {
    flex-wrap: nowrap;

  }

  .nav-wrapper {
    margin-top: 5.1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    @media (max-width: 767.98px) {
      display: block;
    }

    .prev-wrapper svg {
      transform: rotate(45deg);
      fill: $dark;
    }

    .next-wrapper svg {
      transform: rotate(-45deg);
      fill: $dark;
    }

    @media (max-width: 767.98px) {
      .prev-wrapper {
        display: inline-block;
        width: 49%;
      }

      .next-wrapper {
        display: inline-block;
        width: 49%;
      }

      .next-wrapper .btn, .prev-wrapper .btn {
        display: block;
        width: 100%;
      }
    }

    .slide-wrapper {
      margin: 0 1rem;

      @media (max-width: 767.98px) {
        display: none;
      }

      .list-inline-item {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $black-25;

        &.active {
          background-color: $primary;
        }
      }
    }
  }
}
</style>
