<template>
  <div
    :class="[
      'pagebuilder-hero-wrapper',
      { 'next-block-no-margin': data.overlap_next_block },
    ]"
  >
    <BaseHero
      :title="data.title"
      :content="data.excerpt"
      :image="data.image.sizes"
      :buttonsLabel="data.label"
      :buttons="data.buttons"
      :search="false"
      :overlap="data.overlap_next_block"
    />
  </div>
</template>
<script>
export default {
  components: {
    BaseHero: () => import('~/components/BaseHero.vue')
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>
<style lang="scss">
/* Core styles */
.pagebuilder-hero-wrapper {
  &.next-block-no-margin {
    margin-bottom: 0;
  }
}

/* Project styles */

.pagebuilder-hero-wrapper {
}
</style>
