<template>
  <div v-if="showAdminBar" class="admin-wrapper">
    <div class="container">
      <a
        v-for="(link, index) in links"
        :key="index"
        :href="link.href"
        :target="link.target"
      >
        <svg-icon :name="link.icon" />
        {{ link.text }}
      </a>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    links () {
      const base = 'https://wordpress.tucacademy.se/wp-admin'
      const name = this.content.post_title
      const id = this.content.ID
      const target = this.content.post_name

      const res = [
        {
          icon: 'pen',
          text: 'Redigera ' + name,
          href: base + '/post.php?post=' + id + '&action=edit',
          target
        },
        {
          icon: 'trash',
          text: 'Clear REST Cache',
          href: base + '/options-general.php?page=wp-rest-cache&sub=clear-cache',
          target: '_blank'
        }]

      return res
    },

    content () {
      return this.$store.state.pages[this.$route.path] || false
    },

    showAdminBar () {
      return this.cookie && this.cookie !== '' && this.content
    },
    cookie () {
      return this.session.cookie || false
    },

    session () {
      return this.$store.state.session
    }
  }
}
</script>
<style lang="scss">
  .admin-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    color: #fff;
    z-index: 10000;

    a {
      display: inline-block;
      vertical-align: middle;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        background-color: $grey;

        svg {
          fill: $primary;
        }
      }
    }

    svg {
      fill: $text-color;
      height: 1.5em;
      width: 1.5em;

    }
  }
</style>
