<template>
  <div v-if="!isChecked" class="cookies-wrapper">
    <div class="container">
      <div class="row gutter">
        <div class="col-12 col-md-4">
          <p>
            Vi använder cookies för att ge dig en bättre upplevelse på vår
            webbplats.
          </p>
        </div>
        <div class="col-12 col-md-4">
          <b-button @click="checkCookies" block size="sm" variant="primary">
            Jag godkänner alla cookies
          </b-button>
        </div>
        <div class="col-12 col-md-4">
          <b-button
            block
            to="/gdpr"
            size="sm"
            variant="secondary"
          >
            Läs mer om cookies här
          </b-button>
        </div>
      </div>
    </div>
    <div />
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      isChecked: true
    }
  },
  mounted () {
    this.isChecked = window.localStorage.isCookiesChecked

    if (this.isChecked === 'true') {
      this.$gtm.init()
    }
  },
  methods: {
    checkCookies () {
      window.localStorage.isCookiesChecked = true
      this.isChecked = true
      this.$gtm.init()
    }
  }
}
</script>

<style lang="scss">
.cookies-wrapper {
  background-color: $black-75;
  color: #fff;
  position: fixed;
  z-index: 1000;
  bottom: 0rem;
  right: 0rem;
  padding: 2rem;
  width: 100%;
  box-shadow: 0 18px 40px -12px rgba(0, 0, 0, 0.1);

  .gutter {
    margin: 0 -1vmin;
    > * {
      padding: 0 1vmin;
    }
  }

  p {
    @media (max-width: 767px) {
      margin-bottom: 1.2rem;
    }
  }

  .btn {
    //margin-top: 0.5rem;

    @media (max-width: 767px) {
      margin-bottom: 1.2rem;
    }
  }
}
</style>
