<template>
  <transition name="faqBtn">
    <div v-if="show" :class="['faq-btn-wrapper']">
      <b-button size="sm" to="/fragehornan" variant="primary">
        <span>
          Vanliga frågor
          <svg-icon name="question-circle" />
        </span>
      </b-button>
    </div>
  </transition>
</template>
<script>
export default {
  data () {
    return {
      show: false,
      timeout: null
    }
  },
  mounted () {
    window.addEventListener('scroll', (e) => {
      clearTimeout(this.timeout)
      // this.show = false

      if (this.vueWindow.scroll > window.innerHeight / 2) {
        this.timeout = setTimeout(() => {
          this.show = true
        }, 3000)
      } else {
        this.show = false
      }
    })
  }
}
</script>
<style lang="scss">
.faq-btn-wrapper {
  position: fixed;
  bottom: 3vmin;
  left: 3vmin;
  transition: 0.4s;
  z-index: 999;

  /*&.show {
      opacity: 1;
      pointer-events: all;
    }*/

  .title {
    //font-size: 1.77em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .btn {
    transform: scale(1);
    animation: pulse 5s infinite;
  }

  &:before {
    pointer-events: none;
    content: " ";
    position: absolute;
    height: 100vmax;
    width: 100vmax;
    background-color: $primary;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

.faqBtn-enter-active {
  transition: 1s;

  &:before {
    transition: 1.2s;
  }
}

.faqBtn-leave-active {
  transition: 1s;
}

.faqBtn-enter, .faqBtn-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;

  &:before {
    opacity: 1;
    height: 0vh;
    width: 0vw;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  5% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  10% {
    transform: scale(1.01);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
  }

  15% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  20% {
    transform: scale(1.01);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
  }

  25% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  //--

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
</style>
