<template>
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-2 social">
          <nuxt-link to="/">
            <svg-icon class="logotype" name="tuc/logotype-white" />
          </nuxt-link>
          <div v-html="options.footer.text" class="my-3" />
          <ul v-if="false" class="list-inline">
            <li
              v-for="socialmediaKey in Object.keys(options.footer.socialmedia)"
              class="list-inline-item"
            >
              <a
                :href="options.footer.socialmedia[socialmediaKey]"
                target="blank"
              >
                <svg-icon :name="socialmediaKey" />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-10 menus">
          <div v-if="options.footer" class="row">
            <div
              v-for="menuBlock in options.footer.footer_menu"
              class="col-12 col-lg-4 menu-block"
            >
              <h5 class="font-weight-bold mb-0">
                {{ menuBlock.title }}
              </h5>
              <ul class="list-unstyled">
                <li v-for="menuItem in menuBlock.menu_options">
                  <div
                    v-if="menuItem.menu_option && menuItem.menu_option !== ''"
                  >
                    <nuxt-link
                      v-if="
                        menuItem.menu_option.url &&
                          !menuItem.menu_option.url.startsWith('http')
                      "
                      :to="menuItem.menu_option.url"
                    >
                      {{ menuItem.menu_option.title }}
                    </nuxt-link>

                    <a
                      v-if="
                        menuItem.menu_option.url &&
                          menuItem.menu_option.url.startsWith('http')
                      "
                      :href="menuItem.menu_option.url"
                      target="blank"
                    >
                      {{ menuItem.menu_option.title }}
                    </a>
                  </div>

                  <a
                    v-if="!menuItem.menu_option || menuItem.menu_option === ''"
                  >MISSING_MENU_OPTION</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    options () {
      return this.$store.state.options || {}
    }
  },
  methods: {
    chunkArray (array, chunkSize) {
      let index = 0
      const arrayLength = array.length
      const tempArray = []

      for (index = 0; index < arrayLength; index += chunkSize) {
        tempArray.push(array.slice(index, index + chunkSize))
      }

      return tempArray
    }
  }
}
</script>
<style lang="scss">
.footer-wrapper {
  margin-top: 5vmin;
  color: #fff;
  background-color: $black-75;
  padding: 6.5rem 0;

  h5 {
    margin-top: 0;
  }

  a {
    color: #fff;

    &:hover {
      color: #fff !important;
      opacity: 0.6;
    }
  }

  .menu-block {
    margin-bottom: 1.5rem;

    .list-unstyled {
      li a {
        padding: 0.5rem 0;
        display: block;
      }
    }
  }

  .social {
    .logotype {
      height: 70px;
      width: 150px;
      max-width: 100%;

      svg {
        width: 100%;
      }
    }

    .list-inline {
      max-width: 150px;
      margin-top: 2rem;
      display: flex;

      @media (max-width: 1168px) {
        max-width: 100%;
        justify-content: center;
      }

      .list-inline-item {
        a {
          height: 100%;
          display: block;
        }

        svg {
          margin: 8px;
          width: 20px;
          height: 20px;
          fill: #fff;
          transition: 0.4s ease-in-out;
        }

        &:hover svg {
          fill: $primary;
        }
      }
    }
  }
}
</style>
