<template>
  <div :class="['header-wrapper']">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <nuxt-link to="/">
            <svg-icon class="logotype" name="tuc/logotype" />
          </nuxt-link>
        </div>
        <div class="col-10 align-self-center">
          <TheMenu />
        </div>
        <client-only>
          <div class="col-12 message">
            <div class="message-inner">
              <div v-if="showMessage" class="container">
                <span @click="checkMessage(options.message.rubrik)">
                  <svg-icon class="close" block name="tuc/plus" />
                </span>
                <div class="row">
                  <div class="col-12">
                    <h5>
                      {{ options.message.rubrik }}
                    </h5>
                    <p>
                      {{ options.message.text }}
                    </p>
                    <BaseButtons
                      ref="buttons"
                      v-if="options.message.buttons"
                      :label="options.message.label"
                      :buttons="addVariantToButtons(options.message.buttons)"
                      type="button"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    TheMenu: () => import('~/components/TheMenu.vue'),
    BaseButtons: () => import('~/components/BaseButtons.vue')
  },
  data () {
    return {
      messageSubject: ''
    }
  },
  computed: {
    showMessage () {
      if (this.options.message.show) {
        return this.messageSubject !== this.options.message.rubrik
      }
      return false
    },

    options () {
      return this.$store.getters.getOptions || []
    }
  },
  mounted () {
    this.messageSubject = window.localStorage.messageSubject
  },
  methods: {
    checkMessage (subject) {
      window.localStorage.messageSubject = subject
      this.messageSubject = subject
    }
  }
}
</script>

<style lang="scss">
.header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: $white;

  .logotype {
    height: 2.9rem;
    width: 9rem;
    margin: 1rem 0;
  }
  .message {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    .message-inner {
      .container {
        background-image: $primary-gradient;
        padding: 3em 5em;
        position: relative;
        @media (max-width: 1440px) {
          width: 90%;
        }
        svg {
          position: absolute;
          top: 1vmin;
          right: 1vmin;
          width: 30px;
          height: 30px;
          fill: white;
          z-index: 2;
          transform: rotate(45deg);
          transition: all ease 150ms;
          cursor: pointer;
        }
        h5 {
          font-size: 21px;
          font-weight: bold;
          margin: 0 0 1vmin 0;
          color: $white;
        }
        p {
          font-size: 16px;
          color: $white;
        }

        .buttons-wrapper {
          margin-top: 3vmin;
        }
      }
    }
  }
}
</style>
