<template>
  <div class="menu-wrapper">
    <div class="row menu-buttons-wrapper">
      <div class="col-9 align-self-center">
        <div class="menu">
          <div class="menu-items justify-content-around">
            <div
              :key="i"
              v-for="(item, i) in menu.menu_items"
              class="menu-item"
            >
              <nuxt-link v-if="item.page" :to="item.page.url">
                {{ item.page.title }}
                <svg-icon
                  v-if="item.sub_pages.length > 0"
                  class="show-more-icon"
                  name="angle-down"
                />
              </nuxt-link>

              <ul v-if="item.sub_pages" class="sub-menu-items list-unstyled">
                <li v-for="(subItem, j) in item.sub_pages" :key="j">
                  <nuxt-link v-if="subItem.sub_page" :to="subItem.sub_page.url">
                    {{ subItem.sub_page.title }}
                  </nuxt-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-buttons-wrapper">
        <div class="menu-buttons">
          <div
            id="burger"
            @click="toggleClass()"
            :class="[isActive ? 'active' : 'noActive']"
          >
            <div class="span-wrapper">
              <div class="one">
                <span>Meny</span>
              </div>
              <div class="two">
                <span>Stäng</span>
              </div>
            </div>
            <div class="lines-wrapper">
              <span class="top" />
              <span class="middle" />
              <span class="bottom" />
            </div>
          </div>
          <b-button
            @click="goToSearch()"
            variant="dark"
            size="sm"
            class="mr-3 btn-round search-btn"
          >
            <svg-icon name="search" />
          </b-button>
        </div>
      </div>

      <div id="burger-menu" :class="[isActive ? 'active' : 'noActive']">
        <div class="container">
          <div :key="i" v-for="(item, i) in menu.menu_items" class="menu-item">
            <nuxt-link
              v-if="item.page"
              :to="item.page.url"
              class="menu-item-heading"
            >
              {{ item.page.title }}
            </nuxt-link>

            <ul v-if="item.sub_pages" class="sub-menu-items list-unstyled">
              <li v-for="(subItem, j) in item.sub_pages" :key="j">
                <nuxt-link v-if="subItem.sub_page" :to="subItem.sub_page.url">
                  {{ subItem.sub_page.title }}
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="menu-buttons">
            <b-button
              @click="goToSearch()"
              variant="dark"
              size="sm"
              class="mr-3 btn-round search-btn"
            >
              <svg-icon name="search" />
            </b-button>

            <b-button
              v-if="false"
              :href="options.header_menu.apply_link"
              variant="primary"
              size="sm"
            >
              Ansök nu
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      isActive: false
    }
  },
  computed: {
    menu () {
      return this.options.header_menu || []
    },
    options () {
      return this.$store.state.options || {}
    }
  },
  watch: {
    $route () {
      this.isActive = false
    }
  },
  methods: {
    toggleClass (event) {
      if (this.isActive) {
        this.isActive = false
      } else {
        this.isActive = true
      }
    },
    removeClass (event) {
      this.isActive = true
    },
    goToSearch () {
      this.$router.push('/')

      this.$nextTick(() => {
        setTimeout(() => {
          const input = document.getElementById('search')

          input.focus()
        }, 400)

        setTimeout(() => {
          const input = document.getElementById('search')

          input.focus()
        }, 1000)
      })
    }
  }
}
</script>
<style lang="scss">
.menu-wrapper {
  // position: relative;
  @media (max-width: 1150px) {
    display: flex;
    justify-content: flex-end;
  }

  .menu-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 575.98px) {
      float: right;
    }
  }
  .menu-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;

    a {
      margin-left: 1rem;
      display: flex;
      @media (max-width: 575.98px) {
        order: 1 !important;
      }
    }

    .search-btn {
      width: 40px;
      height: 40px;
      padding: 0;
    }

    #burger {
      width: 80px;
      height: 20px;
      position: relative;
      top: 0;
      z-index: 999;
      display: none;
      overflow: hidden;
      margin-left: 10px;
      cursor: pointer;

      @media (max-width: 1150px) {
        display: flex;
        order: 2;
      }

      .span-wrapper {
        width: 48%;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        transition: all ease 150ms;
        * {
          text-transform: uppercase;
        }
        .one {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          height: 20px;
          display: flex;
          align-items: center;
          transition: all ease 150ms;
        }
        .two {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 20px;
          display: flex;
          align-items: center;
          transition: all ease 150ms;
        }
      }

      .lines-wrapper {
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        transform: scale(0.6);
        span.top {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: $dark;
          transition: all ease 150ms;
        }
        span.middle {
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -1px;
          width: 100%;
          height: 2px;
          background: $dark;
          transition: all ease 150ms;

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background: $primary;
            transform: rotate(0deg);
            transition: all ease 150ms;
            visibility: hidden;
          }
        }
        span.bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: $dark;
          transition: all ease 150ms;
        }
      }

      &.active {
        span.top {
          background: $primary;
          transform: translateX(100%);
        }
        span.middle {
          background: $primary;
          transform: rotate(45deg);
          &:before {
            visibility: visible;
            transform: rotate(-90deg);
          }
        }
        span.bottom {
          background: $primary;
          transform: translateX(-100%);
        }

        .span-wrapper {
          transform: translateY(-50%);
        }
      }
    }

    button {
      @media (max-width: 1150px) {
        display: none;
      }
    }
  }

  .menu-items {
    display: flex;

    @media (max-width: 1150px) {
      display: none;
    }

    .menu-item {
      position: relative;

      a {
        color: $dark;
        font-weight: 700;
        text-decoration: none;
        padding: 1rem 0;

        svg {
          transform: translateY(-1px);
        }

        &:hover {
          color: $primary;

          svg {
            fill: $primary;
          }
        }
      }

      .show-more-icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      .sub-menu-items {
        opacity: 0;
        position: absolute;
        top: 100%;
        left: -1.5rem;
        z-index: 100;
        background-color: transparentize(#fff, 0.05);
        padding: 1rem 1.5rem;
        padding-top: 2rem;
        width: 250%;
        pointer-events: none;

        li a {
          padding: 0.25rem 0;
          display: inline-block;
          color: $primary;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &:hover {
        .sub-menu-items {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  #burger-menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: -9999;
    opacity: 0;
    background: $white;
    transition: transform ease 400ms;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
    display: none;
    // transform: translateY(-200%);
    &.active {
      opacity: 1;
      // transform: translateY(0%);
      z-index: 1;
      display: flex;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      @media (max-width: 1440px) {
        width: 90%;
        max-width: 90%;
      }
      * {
        text-align: center;
      }
      .menu-buttons {
        width: 100%;
        justify-content: center;
        margin-top: 6vmin;
        button {
          margin: 0 2vmin;
          @media (max-width: 1150px) {
            display: block;
          }
        }
      }
    }

    .menu-item {
      width: 33.33%;

      @media (max-width: 960px) {
        width: 100%;
      }

      * {
        color: $dark;
        z-index: -1;
        position: relative;
      }

      .menu-item-heading {
        font-size: 1.2em;
        display: flex;
        margin-bottom: 0.5vmin;
        font-weight: bold;
        text-align: center;
        display: block;
        position: relative;
        z-index: 2;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2vmin;
        position: relative;
        z-index: 2;
        li {
          width: 100%;
          margin-bottom: 0.3vmin;
          position: relative;
          z-index: 2;
          a {
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }
}
</style>
