<template>
  <div v-lazy:background-image="image" class="pagelock-wrapper">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-sm-7">
          <form @submit.prevent="submit()">
            <b-form-input
              id="password"
              v-model="pwd"
              :state="state"
              class="form-control text-center"
              type="password"
              placeholder="Skriv in lösenord"
            />

            <b-form-invalid-feedback id="password-feedback">
              {{ feedback }}
            </b-form-invalid-feedback>

            <b-button :disabled="!(pwd && pwd.length > 0)" class="mt-2" block type="submit" variant="primary">
              Ge mig tillgång till sidan
            </b-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String
    },
    image: {
      type: String
    },
    password: {
      type: String
    }
  },
  data () {
    return {
      pwd: null,
      state: null,
      feedback: null
    }
  },
  computed: {
    isLocked () {
      return !this.$store.state.pageUnlocked
    },
    options () {
      return this.$store.state.options
    }
  },
  methods: {
    async submit () {
      if (this.pwd) {
        const res = await this.$store.dispatch({ type: 'checkPassword', pwd: this.pwd })

        console.log(res)

        if (!res) {
          this.state = false
          this.feedback = 'Fel lösenord.'
          this.pwd = null
        }
      } else {
        this.state = false
        this.feedback = 'Skriv in ett lösenord.'
      }
    }
  }
}
</script>
<style lang="scss">
  .pagelock-wrapper {
    height: calc(100vh - 77px);
    background-position: center;
    background-size: cover;
  }

</style>
