<template>
  <div class="pagebuilder-wrapper">
    <div
      v-for="(block, index) in blocks"
      :class="['block-wrapper', block.acf_fc_layout]"
      :id="block.acf_fc_layout + '-' + index"
    >
      <PagebuilderArchive
        v-if="block.acf_fc_layout === 'archive'"
        :data="block"
      />
      <PagebuilderArchivePost
        v-if="block.acf_fc_layout === 'post_archive'"
        :data="block"
      />
      <PagebuilderArchiveQuote
        v-if="block.acf_fc_layout === 'quote_archive'"
        :data="block"
      />
      <PagebuilderArchiveCourse
        v-if="block.acf_fc_layout === 'course_archive'"
        :data="block"
      />
      <PagebuilderArchiveLocation
        v-if="block.acf_fc_layout === 'location_archive'"
        :data="block"
      />

      <PagebuilderFeaturedAlumni
        v-if="block.acf_fc_layout === 'alumni_featured'"
        :data="block"
      />
      <PagebuilderFeaturedCourse
        v-if="block.acf_fc_layout === 'course_featured'"
        :data="block"
      />

      <PagebuilderHero v-if="block.acf_fc_layout === 'hero'" :data="block" />
      <PagebuilderCta v-if="block.acf_fc_layout === 'cta'" :data="block" />
      <PagebuilderContent
        v-if="block.acf_fc_layout === 'content'"
        :data="block"
      />
      <PagebuilderContentUsp
        v-if="block.acf_fc_layout === 'content_usp'"
        :data="block"
      />
      <PagebuilderGallery
        v-if="block.acf_fc_layout === 'gallery'"
        :data="block"
      />
      <PagebuilderUsp v-if="block.acf_fc_layout === 'usps'" :data="block" />
      <PagebuilderMaps v-if="block.acf_fc_layout === 'maps'" :data="block" />
      <PagebuilderContact
        v-if="block.acf_fc_layout === 'contact'"
        :data="block"
      />
      <PagebuilderApply v-if="block.acf_fc_layout === 'apply'" :data="block" />
      <PagebuilderMedia v-if="block.acf_fc_layout === 'media'" :data="block" />

      <PagebuilderCourseSummary
        v-if="block.acf_fc_layout === 'summary'"
        :current-page="content"
        :data="block"
      />

      <PagebuilderResponsible
        v-if="block.acf_fc_layout === 'responsible'"
        :data="block"
      />

      <PagebuilderProductCards
        v-if="block.acf_fc_layout === 'product_cards'"
        :data="block"
      />
    </div>
  </div>
</template>
<script>
export default {
  components: {
    PagebuilderArchive: () => import('~/components/PagebuilderArchive.vue'),
    PagebuilderArchivePost: () =>
      import('~/components/PagebuilderArchivePost.vue'),
    PagebuilderArchiveQuote: () =>
      import('~/components/PagebuilderArchiveQuote.vue'),
    PagebuilderArchiveCourse: () =>
      import('~/components/PagebuilderArchiveCourse.vue'),
    PagebuilderArchiveLocation: () =>
      import('~/components/PagebuilderArchiveLocation.vue'),
    //
    PagebuilderFeaturedAlumni: () =>
      import('~/components/PagebuilderFeaturedAlumni.vue'),
    PagebuilderFeaturedCourse: () =>
      import('~/components/PagebuilderFeaturedCourse.vue'),
    //
    PagebuilderHero: () => import('~/components/PagebuilderHero.vue'),
    PagebuilderCta: () => import('~/components/PagebuilderCta.vue'),
    PagebuilderContent: () => import('~/components/PagebuilderContent.vue'),
    PagebuilderContentUsp: () => import('~/components/PagebuilderContentUsp.vue'),

    PagebuilderGallery: () => import('~/components/PagebuilderGallery.vue'),
    PagebuilderUsp: () => import('~/components/PagebuilderUsp.vue'),
    PagebuilderMaps: () => import('~/components/PagebuilderMaps.vue'),
    PagebuilderContact: () => import('~/components/PagebuilderContact.vue'),
    PagebuilderApply: () => import('~/components/PagebuilderApply.vue'),
    PagebuilderResponsible: () =>
      import('~/components/PagebuilderResponsible.vue'),
    PagebuilderProductCards: () =>
      import('~/components/PagebuilderProductCards.vue'),
    PagebuilderMedia: () => import('~/components/PagebuilderMedia.vue'),
    // Course only
    PagebuilderCourseSummary: () =>
      import('~/components/PagebuilderCourseSummary.vue')
  },
  props: {
    blocks: {
      type: [Array, Boolean]
    },
    content: {
      type: Object,
      default: () => {
        return {}
      }
    }
  }
}
</script>
<style lang="scss">
.pagebuilder-wrapper {
  margin-top: -2vmin;
  .block-wrapper {
    > * {
      padding: 2vmin 0;
    }

    &:first-child.cta {
      margin-top: 6vmin;
    }
  }

}
</style>
