<template>
  <div class="programme-wrapper">
    <BaseCourseIntro
      :category="primaryCategory"
      :title="(useDefaultTitle)? content.post_title : content.custom_fields.intro.title"
      :sub-title="content.custom_fields.intro.sub_title"
      :content="(useDefaultTitle) ? content.post_excerpt : content.custom_fields.intro.excerpt"
      :image="content.featured_image[getImageSize('max')]"
      :video="content.custom_fields.intro.youtube_video"
    />
    <ThePagebuilder v-if="content.custom_fields.pagebuilder" :blocks="content.custom_fields.pagebuilder" :content="content" />
    <BaseApply
      v-if="content.custom_fields.apply"
      :title="content.custom_fields.apply_options.title"
      :content="content.custom_fields.apply_options.content"
      :formId="content.custom_fields.apply_options.form"
      :formSupply="content.post_title"
      :active="content.custom_fields.apply"
    />
    <BaseArchiveCourse
      v-if="content.custom_fields.course_related.related_courses.length > 0"
      :title="content.custom_fields.course_related.title"
      :courses="(content.custom_fields.course_related.related_courses.length > 0)? content.custom_fields.course_related.related_courses : false"
      :button-options="{
        type: content.custom_fields.course_related.link_or_button,
        link: content.custom_fields.course_related.link,
        buttonsLabel: content.custom_fields.course_related.label,
        buttons: content.custom_fields.course_related.buttons
      }"
      alignment="center"
    />

    {{ content.custom_fields.post_related }}
    <BasePostArchive
      v-if="content.custom_fields.post_related.related_posts.length > 0"
      :title="content.custom_fields.post_related.title"
      :courses="(content.custom_fields.post_related.related_courses.length > 0)? content.custom_fields.post_related.related_posts : false"
      :button-options="{
        type: content.custom_fields.post_related.link_or_button,
        link: content.custom_fields.post_related.link,
        buttonsLabel: content.custom_fields.post_related.label,
        buttons: content.custom_fields.post_related.buttons
      }"
      alignment="center"
    />
    <BaseNewsletter v-if="false" />
  </div>
</template>
<script>
export default {
  components: {
    BaseCourseIntro: () => import('~/components/BaseCourseIntro.vue'),
    ThePagebuilder: () => import('~/components/ThePagebuilder.vue'),
    BaseApply: () => import('~/components/BaseApply.vue'),
    BaseArchiveCourse: () => import('~/components/BaseArchiveCourse.vue'),
    BasePostArchive: () => import('~/components/BasePostArchive.vue')
  },
  validate ({ route, params, query, store, $content }) {
    const page = store.state.pages[route.path]

    if (page) {
      return true
    } else {
      return false
    }
  },

  computed: {
    useDefaultTitle () {
      return !this.content.custom_fields.intro.use_title
    },
    primaryCategory () {
      const cats = this.content.post_taxs
      if (cats.programme_course_category && cats.programme_course_category[0]) {
        return cats.programme_course_category[0].name
      } else {
        return false
      }
    },
    content () {
      return this.$store.state.pages[this.$route.path]
    }
  }
}
</script>
<style lang="scss">
  .programme-wrapper {
    .content-inner {
      background-color: $light-grey-25;
      padding: 6vmin 11vmin;
    }

  }
</style>
