<template>
  <div>
    <div :class="['ie-banner', 'text-center', { 'd-none': !isIE() }]">
      <p class="small">
        Psst! För att njuta av allt vår sida har att erbjuda så rekommenderar vi
        att du byter webbläsare. Här får du smidig vägledning:
        <a href="https://browsehappy.com/">https://browsehappy.com/</a>
      </p>
    </div>

    <TheHeader />
    <ThePagelock v-if="pageLock" :title="content.post_title" :image="content.featured_image[getImageSize('max')]" :password="content.custom_fields.password" />
    <div v-if="!pageLock">
      <nuxt class="default-wrapper" />
    </div>
    <TheFooter />
    <TheCookies />
    <TheFaqbtn v-if="false" />
    <TheAdmin />
  </div>
</template>
<script>
export default {
  components: {
    TheHeader: () => import('~/components/TheHeader.vue'),
    TheFooter: () => import('~/components/TheFooter.vue'),
    TheCookies: () => import('~/components/TheCookies.vue'),
    TheFaqbtn: () => import('~/components/TheFaqbtn.vue'),
    TheAdmin: () => import('~/components/TheAdmin.vue'),
    ThePagelock: () => import('~/components/ThePagelock.vue')
    // TheLoading: () => import('~/components/TheLoading.vue')
  },
  head () {
    return this.meta
  },
  computed: {

    meta () {
      const path = this.$route.path

      return this.$store.state.meta.metaFormated[path]
    },

    pageLock () {
      const pageLocked = (this.content && this.content.custom_fields) ? this.content.custom_fields.is_page_locked : false

      return pageLocked && this.$store.state.pageLocked
    },

    introTitle () {
      const hero = this.hero

      return (!hero.auto_hero && hero.title !== '') ? hero.title : this.content.post_title
    },

    hero () {
      let useHero = this.content.custom_fields.use_hero

      if (this.content.custom_fields.use_hero === undefined) {
        useHero = true
      }

      if (useHero) {
        return this.content.custom_fields.hero || false
      } else {
        return false
      }
    },
    content () {
      return this.$store.state.pages[this.$route.path] || false
    }
  },
  beforeMount () {
    // if (!this.$store.state.bearerToken.tokenid) {
    this.$store.dispatch('bearerToken/getEvents')
    this.$store.dispatch('bearerToken/getCourseTemplates')
    this.$store.dispatch('bearerToken/getCategories')
    // }
  }
}
</script>
<style lang="scss">
.default-wrapper {
  padding-top: 70px;
}

/*.page-enter-active,
  .page-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    transition-delay: 200ms;
  }

  .page-enter,
  .page-leave-to {
    opacity: 0;
  }*/

input,
select,
textarea,
.form-control {
  // _Input-Input-1
  border-color: $black-25;
  border-radius: 5px;
  border: 2px solid black;
  padding: 7.5px;
}

ul {
  padding-left: 1.9rem;
}

img:not(.icon),
.background-image {
  // transition: 0.6s ease-in-out;

  &[lazy]{
    opacity: 0;
  }

  &[lazy="loading"] {
    opacity: 0;
  }
  &[lazy="error"] {
    opacity: 1;
  }
  &[lazy="loaded"] {
    opacity: 1;
  }
}

img {
  &.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  &.alignright {
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
}
</style>
