<template>
  <div class="error-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8">
          <h1>Nu blev det något fel.</h1>
          <b-button class="my-5" variant="primary" to="/">
            Klicka här för att komma till startsidan
          </b-button>

          <p>
            Error message: {{ error.message }}<br>
            Error: {{ error.statusCode }}<br>
            Path: {{ error.path }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

// import json from '~/assets/lootie/loading.json'

export default {

  props: {
    error: {
      type: Object
    }
  },
  data () {
    return {
      // json
    }
  }
}
</script>
<style lang="scss">
  .error-wrapper{
    padding: 12vmin 0;
  }
</style>
