<template>
  <div class="kontakta-oss-wrapper">
    <BaseHero
      v-if="hero"
      :title="hero.text_in_image ? introTitle : false"
      :content="hero.text_in_image ? introContent : false"
      :image="
        !hero.auto_hero && hero.image
          ? hero.image.sizes
          : content.featured_image
      "
      :button-options="{
        type: 'button',
        buttonsLabel: hero.text_in_image ? hero.label : false,
        buttons: hero.text_in_image ? hero.buttons : false,
      }"
      :search="this.$route.path === '/'"
      :overlap="!hero.text_in_image"
    />

    <div class="container">
      <div class="hero-content-wrapper">
        <div class="row">
          <div v-if="false" class="col-md-4 filter-columns-2">
            <BaseFilter
              v-if="employees"
              :filterOptions="filter"
              :filterActive="filterActive"
              :updatefilterActive="updatefilterActiveFromFilter"
            />
            <div class="search-archive-wrapper mt-5">
              <b-form-input
                v-model="filterActive.search"
                placeholder="Sök bland personal"
              />
            </div>
          </div>
          <div class="col-md-12 filter-columns-1">
            <h1 class="">
              {{ introTitle }}
            </h1>
            <BaseContent v-if="!hero.text_in_image" :content="introContent" />
          </div>
        </div>
      </div>
    </div>
    <BaseArchiveEmployee :employees="employeesSorted" :groupItems="!Array.isArray(employeesSorted)" />
    <div class="container mt-3">
      <div class="contact-wrapper">
        <BaseContactform v-if="formId" :id="formId" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseHero: () => import('~/components/BaseHero.vue'),
    BaseContent: () => import('~/components/BaseContent.vue'),
    BaseArchiveEmployee: () => import('~/components/BaseArchiveEmployee.vue'),
    BaseFilter: () => import('~/components/BaseFilter.vue'),
    BaseContactform: () => import('~/components/BaseContactform.vue')
  },
  data () {
    return {
      filterActive: {
        employee_area: [],
        programme_course_area: [],
        search: null
      }
    }
  },
  validate ({ route, params, query, store, $content }) {
    const page = store.state.pages[route.path]

    if (page) {
      return true
    } else {
      return false
    }
  },
  computed: {
    formId () {
      let res = false

      if (this.content.custom_fields.form) {
        res = this.content.custom_fields.form
      }

      return res
    },

    filter () {
      const res = {
        employee_area: {
          title: 'Avdelning',
          options: []
        },
        programme_course_area: {
          title: 'Utbildningsort',
          options: []
        }
      }

      const uniqueCheck = []
      const items = this.employees || []
      items.forEach((item) => {
        Object.keys(res).forEach((cat) => {
          if (item.post_taxs[cat]) {
            item.post_taxs[cat].forEach((itemCat) => {
              if (!uniqueCheck.includes(itemCat.slug)) {
                res[cat].options.push({
                  text: itemCat.name,
                  value: itemCat.slug
                })
                uniqueCheck.push(itemCat.slug)
              }
            })
          }
        })
      })

      res.employee_area.options.sort((a, b) =>
        a.text > b.text ? 1 : b.text > a.text ? -1 : 0
      )

      res.programme_course_area.options.sort((a, b) =>
        a.text > b.text ? 1 : b.text > a.text ? -1 : 0
      )

      return res
    },

    employeesSorted () {
      let res = {}

      const employees = this.employees || []
      const filterActive = this.filterActive

      employees.sort((a, b) =>
        a.post_title > b.post_title ? 1 : b.post_title > a.post_title ? -1 : 0
      )

      if (filterActive.search && filterActive.search !== '') {
        res = []
      }

      employees.forEach((employee) => {
        // setup
        let employeeAreas = false
        let employeeLocation = false

        if (employee.post_taxs.employee_area) {
          employeeAreas = employee.post_taxs.employee_area.map((cat) => {
            return {
              name: cat.name.toLowerCase(),
              slug: cat.slug
            }
          })
        }

        if (employee.post_taxs.programme_course_area) {
          employeeLocation = employee.post_taxs.programme_course_area.map(
            (cat) => {
              return {
                name: cat.name.toLowerCase(),
                slug: cat.slug
              }
            }
          )
        }

        // end setup

        if (employee.post_taxs && employee.post_taxs.employee_area) {
          // Create all sections
          employee.post_taxs.employee_area.forEach((cat) => {
            let validArea = true

            if (filterActive.employee_area.length > 0) {
              validArea = false

              if (cat && filterActive.employee_area.includes(cat.slug)) {
                validArea = true
              }
            }

            if (validArea) {
              if (!res[cat.slug]) {
                res[cat.slug] = {
                  title: cat.name,
                  id: cat.slug,
                  employees: []
                }
              }

              if (
                employee.post_taxs.programme_course_area &&
                cat.slug === 'utbildningsledare'
              ) {
                if (!res[cat.slug].area) {
                  res[cat.slug].area = {}
                }

                employee.post_taxs.programme_course_area.forEach((area) => {
                  let validLocation = true

                  if (filterActive.programme_course_area.length > 0) {
                    validLocation = false

                    if (area && filterActive.programme_course_area.includes(area.slug)) {
                      validLocation = true
                    }
                  }

                  if (validLocation) {
                    if (!res[cat.slug].area[area.slug]) {
                      res[cat.slug].area[area.slug] = {
                        title: area.name,
                        id: area.slug,
                        employees: []
                      }
                    }
                  }
                })
              }
            }
          })

          // add / remove from filter
          const valid = {
            area: true,
            location: true,
            search: true
          }

          if (filterActive.employee_area.length > 0) {
            valid.area = false

            if (employeeAreas) {
              employeeAreas.forEach((area) => {
                if (filterActive.employee_area.includes(area.slug)) {
                  valid.area = true
                }
              })
            }
          }

          if (filterActive.programme_course_area.length > 0) {
            valid.location = false

            if (employeeLocation) {
              employeeLocation.forEach((area) => {
                if (filterActive.programme_course_area.includes(area.slug)) {
                  valid.location = true
                }
              })
            }
          }

          const search = (filterActive.search) ? filterActive.search.toLowerCase() : false
          const employeeName = employee.post_title.toLowerCase()
          const employeeRole = employee.custom_fields.title.toLowerCase()

          if (filterActive.search && filterActive.search !== '') {
            valid.search = false

            const name = employeeName.includes(search)
            const role = employeeRole.includes(search)
            let areas = false
            if (employeeAreas) {
              areas = employeeAreas.map((area) => {
                return area.name
              })
                .join(' ')
            }

            let location = false
            if (employeeLocation) {
              location = employeeLocation.map((location) => {
                return location.name
              })
                .join(' ')
            }

            if (
              name || role || areas.includes(search) || location.includes(search)
            ) {
              valid.search = true
            }

          // Group empluees
          }

          if (valid.area && valid.location && valid.search) {
            if (filterActive.search && filterActive.search !== '') {
              res.push(employee)
            } else if (employeeAreas) {
              employeeAreas.forEach((area) => {
                if (employeeLocation && area.slug === 'utbildningsledare') {
                  employeeLocation.forEach((location) => {
                    if (res[area.slug] && res[area.slug].area[location.slug]) {
                      res[area.slug].area[location.slug].employees.push(employee)
                    }
                  })
                } else if (res[area.slug]) {
                  res[area.slug].employees.push(employee)
                }
              })
            }
          }
        }
      })

      return res
    },

    employees () {
      return this.$store.state.cpt.employee
    },

    introTitle () {
      const hero = this.hero

      return !hero.auto_hero && hero.title !== ''
        ? hero.title
        : this.content.post_title
    },

    introContent () {
      const hero = this.hero

      return !hero.auto_hero && hero.excerpt !== ''
        ? hero.excerpt
        : this.content.post_excerpt
    },

    hero () {
      return this.content.custom_fields.hero || false
    },
    content () {
      return this.$store.state.pages[this.$route.path] || false
    }
  },

  mounted () {
    if (!this.$store.state.cpt.employee) {
      this.$store.dispatch({ type: 'getCpt', postType: 'employee' })
    }
  },

  methods: {
    updatefilterActiveFromFilter (filterActive) {
      this.filterActive = filterActive
    }
  }
}
</script>
<style lang="scss">
.kontakta-oss-wrapper {
  .container {
    .content-inner {
      padding: 1rem 0 !important;
    }
  }
  .hero-content-wrapper {
    margin-top: 12vmin;
    position: relative;
    background-color: #fff;
    padding: 3.5rem;

    h1 {
      margin-bottom: 1rem;
      margin-top: 0;
      padding: 0 1rem;
      text-align: center;
    }

    .filter-columns-1 {
      @media (max-width: 767px) {
        display: flex;
        order: 1;
        flex-wrap: wrap;
        * {
          width: 100%;
        }
      }
    }

    .filter-columns-2 {
      @media (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        order: 2;
      }
      .filter-wrapper {
        width: 100%;
      }
      .search-archive-wrapper {
        width: 100%;
      }
    }

    &.content-wrapper {
      .content-inner {
      }
    }
  }
}
</style>
