<template>
  <div class="artiklar-wrapper">
    <BaseContent :content="contentFormated" />
    <div class="container">
      <BasePostArchive :category="false" />
    </div>
  </div>
</template>
<script>
export default {
  components: {
    BaseContent: () => import('~/components/BaseContent.vue'),
    BasePostArchive: () => import('~/components/BasePostArchive.vue')
  },
  computed: {
    contentFormated () {
      const content = this.content

      const subTitle = content.custom_fields.sub_title
      const title = ((content.custom_fields.title !== '') ? content.custom_fields.title : content.post_title)
      const p = ((content.custom_fields.content !== '') ? content.custom_fields.content : content.post_excerpt)

      let res = ''

      if (subTitle) {
        res += '<h2 class="sub-title">' + subTitle + '</h2>'
      }

      if (title) {
        res += '<h1>' + title + '</h1>'
      }

      if (p) {
        res += '<div class="content"><p>' + p + '</p></div>'
      }

      return res
    },
    content () {
      return this.$store.state.pages['page/i-fokus'] || {}
    }
  }
}
</script>
<style lang="scss">
  .artiklar-wrapper {
    .content-wrapper {

      margin: 4rem 0;

      .content-inner{
        max-width: 1000px;

        h1 {
          margin-bottom: 1rem;
        }

      }

    }
  }
</style>
