<template>
  <div class="utbildningar-wrapper">
    <!--    {{ this.$store.state.bearerToken.edutoken.tokenid  }}<br><br>
    {{ typeof this.$store.state.bearerToken.edutoken.tokenid }} -->
    <BaseContent :content="contentFormated" :readmore="200" />
    <!-- <div class="container">
      <DevEduAdmin />
    </div> -->
    <div class="container">
      <BaseCourseCategories />
    </div>
  </div>
</template>

Ger en fördjupad kunskap om rutiner för säker livsmedelshantering i måltidsverksamhet.

Kursen kommer att ge dig en större förståelse och fördjupad kunskap om livsmedelslagstiftningen, mikrobiologi, egenkontroll och HACCP.
<script>
export default {
  components: {
    // DevEduAdmin: () => import('~/components/DevEduAdmin.vue'),
    BaseContent: () => import('~/components/BaseContent.vue'),
    // BaseCourseArchive: () => import('~/components/BaseCourseArchive-edu.vue'),
    BaseCourseCategories: () => import('~/components/BaseCourseCategories-edu.vue')
  },
  data () {
    return {

    }
  },
  computed: {
    contentFormated () {
      const content = this.content

      const subTitle = content.custom_fields.sub_title
      const title = ((content.custom_fields.title !== '') ? content.custom_fields.title : content.post_title)
      const p = ((content.custom_fields.content !== '') ? content.custom_fields.content : content.post_excerpt)

      let res = ''

      if (subTitle) {
        res += '<h2 class="sub-title">' + subTitle + '</h2>'
      }

      if (title) {
        res += '<h1>' + title + '</h1>'
      }

      if (p) {
        res += '<div class="content"><p>' + p + '</p></div>'
      }

      return res
    },
    content () {
      return this.$store.state.pages[this.$route.path] || {}
    }
  }
}
</script>
<style lang="scss">
  .utbildningar-wrapper {
    .content-wrapper {

      margin: 4rem 0;

      .content-inner{
        max-width: 1000px;

        h1 {
          margin-bottom: 1rem;
        }

      }

    }
  }
</style>
